<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">Chercher <%= image_tag "/assets/google.png", class:"smallimagelogo" %>
<%= text_field_tag :requetedegoogle, :inputsearch, type: "search", value: google_request.name, placeholder: google_request.name %>
<%#=render google_request.googleresults%>
</p>
</div>
</div>
</div>
