<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @google_request.name %>
</p>

<%= link_to 'Edit', edit_google_request_path(@google_request) %> |
<%= link_to 'Back', google_requests_path %>
