<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facebook_request.name %>
</p>

<%= link_to 'Edit', edit_facebook_request_path(@facebook_request) %> |
<%= link_to 'Back', facebook_requests_path %>
