<h1>Editing Historical Character</h1>

<%= render 'form', historical_character: @historical_character %>

<%= link_to 'Show', @historical_character %> |
<%= link_to 'Back', historical_characters_path %>
