<div>
<p>
  <%= render 'aliases/alias', a: requeststoperson.alias %> dit que :
<br>
  <%= render requeststoperson.requestperson.persona %>
dit à
  <%= render requeststoperson.requestperson.personb %>
</p>

<p>
  <%= requeststoperson.content %>
</p>

</div>
