<div>
<%=t('display.superieurhotel',superieur: (render a.laundryjiramaperson), inferieur: (render 'aliases/alias',a: a.alias),hotel: (render a.hotel),restaurant: (render a.restaurant),dish: (render a.dish)).html_safe%>
</div>

