<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @olympicevent.name %>
</p>

<%= link_to 'Edit', edit_olympicevent_path(@olympicevent) %> |
<%= link_to 'Back', olympicevents_path %>
