<div class="content-post__text content content--theme-default   text-item-content  " data-words="">
    
        
        
            
    <p><%=content.content%></p>

        
    
</div>
<%= render partial: "photos/imagesarticlestheedit", collection: content.photos, as: :image %>
