<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= filmparody.name%> <%= filmparody.image ? (image_tag(filmparody.image, class: "imageprofilethread", alt:" pic")) : nil%>
</p>
</div>
</div>
</div>

