<h1>Editing Fakelinksfamilyperson</h1>

<%= render 'form', fakelinksfamilyperson: @fakelinksfamilyperson %>

<%= link_to 'Show', @fakelinksfamilyperson %> |
<%= link_to 'Back', fakelinksfamilypeople_path %>
