<p id="notice"><%= notice %></p>



<p>
  <strong>User:</strong>
  <%= render @fakelinksfamilyperson %>
</p>

<%= link_to 'Edit', edit_fakelinksfamilyperson_path(@fakelinksfamilyperson) %> |
<%= link_to 'Back', fakelinksfamilypeople_path %>
