<p id="notice"><%= notice %></p>

<p>
  <strong>Content fr:</strong>
  <%= @shaktistatement.content %>
</p>


<%= link_to 'Edit', edit_shaktistatement_path(@shaktistatement) %> |
<%= link_to 'Back', shaktistatements_path %>
