<div class="card cartesoldat">
<p class="card-text">2 colocataires :

<%=render "laundryjiramapeople/gradeperson", laundryjiramaperson: coloc.laundryjiramaperson%>
 et
<%=render "laundryjiramapeople/gradeperson", laundryjiramaperson: coloc.laundryjiramaotherperson%>
</p>
</div>

