<div class="requestperson">

<%= render 'people/personinputimage',person: requestperson.persona,myid: myid %>
dit à
  <%= render 'people/personinputimage',person: requestperson.personb,myid: myid %>
</div>

