<h1>Editing Taskshaveaccomplishment</h1>

<%= render 'form', taskshaveaccomplishment: @taskshaveaccomplishment %>

<%= link_to 'Show', @taskshaveaccomplishment %> |
<%= link_to 'Back', taskshaveaccomplishments_path %>
