<div class="card">

<p>Employee : <%=companieshavecustomer.employee.name%></p>
<br/>
<p>Customer : <%=companieshavecustomer.customer.name%>
(<%=companieshavecustomer.nationality.name%>)</p>
<br/>
<p><%=link_to companieshavecustomer.company.name,companieshavecustomer.company%></p>

<br/>

</div>

