<h1>Editing Companieshavecustomer</h1>

<%= render 'form', companieshavecustomer: @companieshavecustomer %>

<%= link_to 'Show', @companieshavecustomer %> |
<%= link_to 'Back', companieshavecustomers_path %>
