<p id="notice"><%= notice %></p>

<p>
  <%= render @companieshavecustomer %>
</p>


<%= link_to 'Edit', edit_companieshavecustomer_path(@companieshavecustomer) %> |
<%= link_to 'Back', companieshavecustomers_path %>
