<%=content_for :mylittlecss do%>
.mesicones {
max-width:420px;
}
<%end%>
<div class="mesicones"><input id="image" name="sydney" type="image" width="200" height="200" alt="Login"
       src="/assets/sydneybristow.png" title="sydney bristow">

<input id="image2" name="sydney" type="image" width="200" height="200" alt="clara chan"
       src="/assets/clarachanj0001.jpg" title="j clara chan">
<input id="image3" name="sydney" type="image" width="200" height="200" alt="millie brady (cleo)"
       src="/assets/cleoqueensgambit0001.jpg" title="cleo">
<input id="image4" name="sydney" type="image" width="200" height="200" alt="beth harmon"
       src="/assets/bethyharmon0001.jpg" title="bethharmon">


</div>
