<p><%=t('display.candlelightdinner',task: candlelightdinner.task.name, person: candlelightdinner.person.name, otherperson: candlelightdinner.otherperson.name, date: l(candlelightdinner.date, format: :long))%></p>
