<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= tvseries.name%> <%= tvseries.image ? (image_tag(tvseries.image, class: "imageprofilethread", alt:" pic")) : nil%>
</p>
</div>
</div>
</div>



