<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bodydescription.name %>
</p>

<%= link_to 'Edit', edit_bodydescription_path(@bodydescription) %> |
<%= link_to 'Back', bodydescriptions_path %>
