
  <%if @person.phrases.length > 0%>

  <p>My phrases <%=render @person.phrases%></p>
  <%end%>
  <%if @person.aidememoires.length > 0%>

  <p>My phrases and words <%=render @person.aidememoires%></p>
  <%end%>

