<table>
  <thead>
    <tr>
      <th>news</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= render news%></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

