<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
Un nouveau website a été ajouté
</p>
<p class="card-text">

<%= link_to webpage.title, webpage.url%>
</p>
</div>
</div>
</div>
