<h1>Editing Personhavelifestateshaverequeststoperson</h1>

<%= render 'form', personhavelifestateshaverequeststoperson: @personhavelifestateshaverequeststoperson %>

<%= link_to 'Show', @personhavelifestateshaverequeststoperson %> |
<%= link_to 'Back', personhavelifestateshaverequeststopeople_path %>
