<h1>New Personhavelifestateshaverequeststoperson</h1>

<%= render 'form', personhavelifestateshaverequeststoperson: @personhavelifestateshaverequeststoperson %>

<%= link_to 'Back', personhavelifestateshaverequeststopeople_path %>
