<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= tvseriesparody.name%> <%= tvseriesparody.image ? (image_tag(tvseriesparody.image, class: "imageprofilethread", alt:" pic")) : nil%>
</p>
</div>
</div>
</div>

