<div class="card" style="min-width:15em;max-width:20em;">
<h5><%=task.name%></h5>
<h4>
<%=t('sailors',count: task.sailors.length)%>  
</h4>
<%begin%>
<p>Durée : <%=distance_of_time_in_words(task.start_at, task.end_at)%></p>
<%rescue%>
<%end%>
<p><%= button_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>

</div>
