    <div class="content-column__area align-to-middle">
        
            <div class="content-column__item">
                
                
                    
                        









    
    
        
    



    
    
        
    





<div class="content content--theme-default   text-item-content " data-words="<%=content.nbwords%>">
    
        
        
            <p><%=content.text%></p>


        
    
</div>



                    
                    
                    
                    
                    
                    
                    
                    
                    
                
            </div>
        
    </div>
