    <div class="content-column__area align-to-middle">
        
            <div class="content-column__item">
                
                
                    
                    
                        

















	
	
	
	
	
	
	

	
		
		
		
			<span class="image-block">
				
















    
    
        















    
    
        
            
            
                <img class="image-block__image" src="https://primedia.primark.com/i/primark/<%=content.contentimages[0].name%>" loading="lazy" alt="<%=@cat.name%> image 1">
            
        
    




    




			</span>
		
	





                    
                    
                    
                    
                    
                    
                    
                    
                
            </div>
        
    </div>
