<div class="content-column content-post__columns   ">
<%= render partial: "articles/contentimage", locals: {content: content} %>
<%= render partial: "articles/contenttext", locals: {content: content} %>
</div>
