<div class="col">
<div class="card">
<div class="card-body">
  <p class="card-text">

<%= sport.name%> <%= sport.image ? (image_tag(sport.image, class: "imageprofilethread", alt:" pic")) : nil%>

  </p>
  
</div></div></div>
