<h2>Take photos with the webcam</h2>
<video id="videowebcam"></video>
<button id="startbuttonwebcam" type="button">Prendre une photo</button>

<canvas id="canvaswebcam"></canvas>
<img src="" id="photowebcam" alt="photo">
