<div class="card">
  <%= image_tag @badge.image,class:"imageprofilethread" %>
<div class="card-body">
<p class="card-text">
  <strong>Name:</strong>
  <%= @badge.name %>
</p>


<p class="card-text">
  <strong>Description:</strong>
  <%= @badge.description %>
</p>
</div>
</div>
