<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @peoplerelation.name %>
</p>

<%= link_to 'Edit', edit_peoplerelation_path(@peoplerelation) %> |
<%= link_to 'Back', peoplerelations_path %>
