
<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">Bienvenue au <%=otherplace.name%></p>
<p class="card-text">
<%= otherplace.image ? (image_tag(otherplace.image, class: "imageprofilethread", alt:"image of this place")) : ""%> </p>
</div>
</div>
</div>

