<h1>Editing Reactions Text</h1>

<%= render 'form', reactions_text: @reactions_text %>

<%= link_to 'Show', @reactions_text %> |
<%= link_to 'New reactions\' text', new_reactions_text_path %> |
<%= link_to 'Back', reactions_texts_path %>
