<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text"><%=tweet.content%>
<%=tweet.place%>
- <%=tweet.username%>
- <%=tweet.created_at.to_date%>

</p>
</div>
</div>
</div>

