<div class="card">

<%=t('display.peoplemeet',sailor2: link_to(twopeoplemeet.otherperson.name, twopeoplemeet.otherperson),sailor1: link_to(twopeoplemeet.person.name, twopeoplemeet.person)).html_safe%>

</div>
