<h1>Editing Companieshaveemployee</h1>

<%= render 'form', companieshaveemployee: @companieshaveemployee %>

<%= link_to 'Show', @companieshaveemployee %> |
<%= link_to 'Back', companieshaveemployees_path %>
