<p id="notice"><%= notice %></p>

<p>
  <%= render @companieshaveemployee %>
</p>


<%= link_to 'Edit', edit_companieshaveemployee_path(@companieshaveemployee) %> |
<%= link_to 'Back', companieshaveemployees_path %>
