<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= comicbook.title%> <%= comicbook.image ? (image_tag(comicbook.image, class: "mycomic", alt:" pic")) : nil%>
</p>
</div>
</div>
</div>


