<%if g.to_i > 0%>
<p>
Page precedente
<span><%=link_to (g.to_i), mypath+{page: (g.to_i - 1)}.to_query%></span>
</p>
<%end%>
</br>
<%if g.to_i < modelname.nbpages%>
<p>
Page suivante
<span><%=link_to (g.to_i+2), mypath+{page: (g.to_i + 1)}.to_query%></span>
</p>
<%end%>
</br>
<p>
<%(0..modelname.nbpages).each do |g|%>
<span><%=link_to (g.to_i+1), mypath+{page: g}.to_query%></span>
<%end%>
</p>

