function chercher<%=t[0]%>(field,al){
if (field.value.trim() !== ''){
$.ajax({url: '<%=t[1]%>?name='+field.value, 
success:function(data){
console.log(data);
if (data.length > 0 && typeof data == "object") {
al.innerHTML="<option></option>";
var value, id;
for (var i=0;i<data.length;i++){
id=data[i].id;
person=data[i].name;
al.innerHTML+="<option value='"+id+"'>"+person+"</option>";
}
} else {
al.outerHTML=al.outerHTML+data;
mylastbtn.click();

}
}});
}
};
function select<%=t[0]%>(field,greatpeople){
if (field.value !== ''){
$.ajax({url: '<%=t[2]%>?id='+field.value, 
success:function(data){
greatpeople.innerHTML+=data;
}});
};
};

