<div class="col">
<div class="card">
<div class="card-body">
  <p class="card-text">
<%= historicalevent.name%> <%= historicalevent.image ? (image_tag(historicalevent.image, class: "imageprofilethread", alt: " pic")) : nil%>  
  </p>
</div>
</div>
</div>

