<div class="col monpost">
<div class="card">
<div class="card-body center">
<%=video_tag "/assets/"+video.name, controls: "",width: "200px", height: "200px"%>
<p class="card-text">

</p>
</div>
</div>
</div>