<ul>
<%refrain.contents.order(:lineid).each do |t|%>
  <li><%=t.content%></li>
<%end%>
</ul>
~                                                                                                                    

