<h1>Editing Peopledidwellgrouptask</h1>

<%= render 'form', peopledidwellgrouptask: @peopledidwellgrouptask %>

<%= link_to 'Show', @peopledidwellgrouptask %> |
<%= link_to 'Back', peopledidwellgrouptasks_path %>
