<div class="card">
  <strong>My Idol:</strong>
  <%= render idolcomment.tvserieshaveactor %>
<br>
  <strong>Alias for commenting:</strong>
  <%= render 'aliases/alias', a:idolcomment.alias %>
<br>


<p>
  <strong>Content:</strong>
  <%= idolcomment.content %>
</p>
</div>

