<div class="card">
<h5>Score criterion for <%=render scorecriterion.musicalscore%></h5>
</br>
Added by <%= scorecriterion.gooduser.name%>
<br/>
<%=scorecriterion.description%>
<br/>
<%=link_to "voir", scorecriterion%>

</div>
