<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admissionfile.name %>
</p>

<%= link_to 'Edit', edit_admissionfile_path(@admissionfile) %> |
<%= link_to 'Back', admissionfiles_path %>
