<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= film.title%> <%= film.image ? (image_tag(film.image, class: "imageprofilethread", alt:" pic")) : nil%>
</p>
</div>
</div>
</div>

