

<div class="col">
<div class="card">
  <img class="card-img-top imageitem" src="<%=company.image%>" alt="Card image cap">
<div class="card-body">
<p class="card-text">Bienvenue au <%= company.name%>
</p>
</div>
</div>
</div>




