<div class="<%if person.rrobots.count > 0 && person.redbandpeople.count > 0%>rbsperson<%elsif person.redbandpeople.length > 0%>redband<%end%> ">

<%=  person.name%>
<%= image_tag(person.image, class: "imageprofilethread", alt:"profile pic")%>
</div>
