<div class="col">
<div class="card">
<div class="card-body">
  <p class="card-text"><%=epoch.nomdecetteepoque%> <%=epoch.name%></p>
  <p class="card-text"><%=image_tag '/assets/'+epoch.image.to_s, width: 100, height: 100%> </p>
</div>
</div>
</div>
