<%=fields_for :attitudephoto do |form|%>
<%=form.fields_for :photopeoplehaveattitudes do |ff|%>
  <div class="field">
<%=render "form/fieldsforradiobuttoncolumnwithvariable",n:"attitudephoto[photopeoplehaveattitudes_attributes][#{params[:n]}]",columnname: :name, form: ff, fieldname: 'person_id', collec: @people, mesmodele:"peopleattitudes",m:params[:n]%>

</div>
<%end%>
<%end%>

