<%=fields_for :attitudephoto do |form|%>
<%=form.fields_for :tickets do |ff|%>
  <div class="field">
<%=render "form/fieldsforcheckboxcolumnwithvariable",n:"attitudephoto[tickets_attributes][#{params[:n]}]",columnname: :name, form: ff, fieldname: 'sender_ids', collec: @people, mesmodele:"senders",m:params[:n]%>

</div>
<%end%>
<%end%>

