<%=fields_for :attitudephoto do |form|%>
<%=form.fields_for :photopeoplehavetraits do |ff|%>
  <div class="field">
<%=render "form/fieldsforradiobuttoncolumnwithvariable",n:"attitudephoto[photopeoplehavetraits_attributes][#{params[:n]}]",columnname: :name, form: ff, fieldname: 'trait_id', collec: @traits, mesmodele:"traits",m:params[:n]%>

</div>
<%end%>
<%end%>

