<div class="col">
<div class="card">
    <div class="card-header">
    My phrase
  </div>

<div class="card-body">
<p class="card-text"><audio controls src="<%= "/assets/#{aidememoire.recordedphrase.name}" %>"></audio>
<%=aidememoire.recordedphrase.content%>
      

</p>
<p class="card-text"><audio controls src="<%=  "/assets/#{aidememoire.recordedword.name}" %>"></audio>
<%=aidememoire.recordedword.content%>
      
</p>

    </div>
    </div>
        </div>
