<p id="notice"><%= notice %></p>

<p>
  <%= render 'aidememoires/aidememoiresimple',aidememoire: @aidememoire%>
</p>


<%= link_to 'Edit', edit_aidememoire_path(@aidememoire) %> |
<%= link_to 'Back', aidememoires_path %>
