<div class="card">

<p><%=companieshaveceo.ceo.name%>
(<%=companieshaveceo.job.name%>)
(<%=companieshaveceo.nationality.name%>)</p>

<br/>
<p><%=link_to companieshaveceo.company.name,companieshaveceo.company%></p>
<br/>

</div>
