<div>
  <%= t('display.notthistask', task1: link_to(thistasknotthistask.task.name,thistasknotthistask.task), task2: link_to(thistasknotthistask.othertask.name,thistasknotthistask.othertask)).html_safe %>
</div>

