<p id="notice"><%= notice %></p>

<p>
  <%= render @thistasknotthistask %>
</p>


<%= link_to 'Edit', edit_thistasknotthistask_path(@thistasknotthistask) %> |
<%= link_to 'Back', thistasknotthistasks_path %>
