<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dupontsurname.name %>
</p>

<%= link_to 'Edit', edit_dupontsurname_path(@dupontsurname) %> |
<%= link_to 'Back', dupontsurnames_path %>
