<div class="card">
  <div class="card-header">
    My jingle
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=jingle.posts_surname ? (render jingle.posts_surname) : ""%></h5>
    <p class="card-text"><%=jingle.content%></p>
  </div>
</div>
