<div class="col">
<div class="card">
<div class="card-body">
  <p class="card-text">

<%= socialmovement.name%> movement <%= socialmovement.image ? (image_tag(socialmovement.image, class: "imageprofilethread", alt:" pic")) : nil%>

  </p>
  
</div></div></div>