<%=form_with url: forwho_categorything_taskusedstuff_tasksailorusedstuff_path(categorything_id:@categorything.id,taskusedstuff_id:@taskusedstuff.id,id:@tasksailorusedstuff.id) do |form|%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'taskid', collec: [], mesmodele:"people",label: I18n.t('pagesshow.task.questionusefortaskwithonesailor',sailor: @tasksailorusedstuff.person.name, task:@taskusedstuff.task.name,count: @taskusedstuff.use, thing:@taskusedstuff.thing.name)+' '+(@tasksailorusedstuff.people.length > 0 ? '('+I18n.t('display.exceptfor',sailor: @tasksailorusedstuff.people.pluck(:name).to_sentence)+')' : '')%>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[personid_categorythings_path]%>
<%@search =[personjson_albums_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

