<h1>Editing Persongraduatedschool</h1>

<%= render 'form', persongraduatedschool: @persongraduatedschool %>

<%= link_to 'Show', @persongraduatedschool %> |
<%= link_to 'Back', persongraduatedschools_path %>
