
<%=render requeststopersonhaverequestperson.requestperson%>
<ul><li>
<%=render partial: 'aregoodrequests/aregoodrequest', collection: requeststopersonhaverequestperson.aregoodrequests, as: :aregoodrequest,spacer_template: "mypersolist"%>
</li></ul>
