<p><%=t('display.wrongperson',task:@task.name, person: @person.name,othertask:@othertask.name, otherperson:@otherperson.name)%></p>
<p><%=t('display.wrongpersonbis',task:@task.name, person: @person.name,othertask:@othertask.name, otherperson:@otherperson.name)%></p>
