<div class="col">
<div class="card">
  <img class="card-img-top imageitem" src="<%=school.image%>" alt="Card image cap">
<div class="card-body">
<p class="card-text">Bienvenue au <%= school.name%>
</p>
</div>
</div>
</div>

