<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
<%= plantspecie.name%> <%= plantspecie.image ? (image_tag(plantspecie.image, class: "imageprofilethread", alt:" pic")) : nil%>

</p>
</div>
    </div>
    </div>
    