<div class="col">
<div class="card">
<div class="card-body">
<p class="card-text">
  <%=link_to "voir les encouragements pour '#{task.name}'", messageforyou_task_path(task.id)%>
</p>
</div>
</div>
</div>

