<%=render @post%>    
<div class="field">
        <%= render "inputvideo", form: form %>
    </div>
    <div class="field">
        <%= render "inputrecording", form: form %>
    </div>
    <div class="field">
        <%= render "inputphotoswebcam", form: form %>
    </div>

<div class="selfie">
</div>
        <%#= render "appareilphoto/javascriptpouraudiovideo", form: form %>

