<%=form_with url: rightorwrongposts_posts_path do |form|%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'taskid', collec: [], mesmodele:"people",label: 'choisir un avatar pour jouer à "qui dit ça" !!'%>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[personid_categorythings_path]%>
<%@search =[personjson_albums_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

