<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @armycompagny.name %>
</p>

<%= link_to 'Edit', edit_armycompagny_path(@armycompagny) %> |
<%= link_to 'Back', armycompagnies_path %>
