<div class="col monpost">
<div class="card">
<div class="card-body">
<%=t('display.someoneplaymusic',sailor: (render aa[0]),musicalinstrument: aa[1].map{|h|(render h)}.to_sentence).html_safe%>
</div>
</div>
</div>

