<div class="col">
<div class="card">
<div class="card-body">

  <%= moviescene.title%>
  : <%= moviescene.description%> 
  <%# moviescene.image ? (image_tag(moviescene.image, class: "imageprofilethread", alt:" pic")) : nil%>
</div>
</div>
</div>

