<%=form_with url: addthosepeoplecity_epoch_city_path(@city.id,epoch_id: @epoch.id) do |form|%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'taskid', collec: [], mesmodele:"people",label:I18n.t('display.addpeoplecity',epoch: @epoch.name, city:@city.name) %>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[personid_categorythings_path]%>
<%@search =[personjson_albums_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

