<h1>Editing Personhavelifestateshavephoto</h1>

<%= render 'form', personhavelifestateshavephoto: @personhavelifestateshavephoto %>

<%= link_to 'Show', @personhavelifestateshavephoto %> |
<%= link_to 'Back', personhavelifestateshavephotos_path %>
