<div class="col monpost">
<div class="card">
<div class="card-body">
<%=t('display.someonewritescode',sailor: (render aa[0]),programminglanguage: aa[1].map{|h|(render h)}.to_sentence).html_safe%>
</div>
</div>
</div>

