<div class="col monpost">
<div class="card">
<div class="card-body">
<p class="card-text">from: <%=email.from%></p>
<p class="card-text">to: <%=email.to%></p>
<p class="card-text">subject: <%=email.subject%></p>
<p class="card-text">body: <%=email.content%></p>
</div>
</div>
</div>


