  <h2>Add Audio</h2>
<%=render partial: "formrecord/recordrecordingtable", locals: {am: Recording.new, mylabel: "record what you wrote", myfield: "recordings", form: form, modelderails: Post.new,sot:Setoftask.new}%>

