<%=form_with url: addaplace_post_mymap_path(post_id: @post.id, id: mymap.id) do |form|%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'placeid', collec: [], mesmodele:"people"%>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[placeid_posts_path]%>
<%@search =[json_places_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

