<p><%=t('pagesshow.linkfamilyperson.phrase', sailor:link_to((render linkfamilyperson.person),linkfamilyperson.person), othersailor: link_to((render linkfamilyperson.otherperson),linkfamilyperson.otherperson), relation: (linkfamilyperson.freres ? t('pagesshow.linkfamilyperson.brothers') : (linkfamilyperson.soeurs ? t('pagesshow.linkfamilyperson.sisters') : linkfamilyperson.familylink.name.split('/')[0]))).html_safe%></p>
<p></p>
