<h1>Editing Lifestateshaverequest</h1>

<%= render 'form', lifestateshaverequest: @lifestateshaverequest %>

<%= link_to 'Show', @lifestateshaverequest %> |
<%= link_to 'Back', lifestateshaverequests_path %>
