<div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="c-content-person-1 c-option-2">
		  			<div class="c-caption c-content-overlay">
		  				<div class="c-overlay-wrapper">
			  				<div class="c-overlay-content">
				  				<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#"><i class="icon-link"></i></a>
				  				<a href="<%=user.image%>" data-lightbox="fancybox" data-fancybox-group="gallery-2">
				  					<i class="icon-magnifier"></i>
				  				</a>
				  			</div>
		  				</div>
		  				<img src="<%=user.image%>" class="img-responsive c-overlay-object" alt="">
		  			</div>
		  			<div class="c-body">
			  			<div class="c-head">
			  				<div class="c-name c-font-uppercase c-font-bold">
			  											<%=user.name%>									  				</div>
			  			
			  				<ul class="c-socials c-theme-ul">
			  				
			  											    <li><a href="https://madagascar.webcup.fr/team-webcup/unknown-2#"><i class="icon-social-twitter"></i></a></li>
															
															<li><a href="https://www.linkedin.com/in/gaetanj/"><i class="fa fa-linkedin"></i></a></li>
														
							</ul>
						
			  			</div>
			  			<div class="c-position">
			  							  				Programmeur							 
			  			</div>
				  		<p>
				  					  				" <%=@quotes[user_counter]%> " 							 
				  			
		                </p>
	                </div>
                </div></div>