<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="filetype" content="0"> 
<meta name="publishedtype" content="1"> 
<meta name="pagetype" content="1"> 
<meta name="catalogs" content="4877"> 
<meta name="contentid" content="800193265"> 
<meta name="publishdate" content="2020-02-17"> 
<meta name="author" content="胡月"> 
<meta name="source" content="La Chine au présent"> 
	<title>Oui, je reste en Chine！</title>
	<link rel="stylesheet" href="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/chinaTodayInnerE.css">
  <link rel="stylesheet" href="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/swiper.css">
	<script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/respond.js"></script>
	<script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/jquery-1.js"></script>

  <script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/swiper.js"></script>
 <script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/flowplayer-3.js"></script>
  <style>
    .movingHeadBox{
      margin-bottom: 0;
    }
  
  .detailsLBBBox .detailsLBBL{
      width:80%;
      float: left;
  }
  .detailsLBBBox .detailsLBBR{
      width:20%;
      float: right;
  }
  .detailsImgBox img{
      width:100%;
  }
  .detailsPBox p{
        /*text-indent:2em;*/
      }
  .CT_detailsBtnAT2{
     border:1px solid #d8e1ea;
     border-radius: 4px;
  }
   .CT_detailsBtnAB2{
     border:1px solid #becedc;
     border-radius: 4px;
     
  }  
  .CT_detailsBtnAT2:hover{
    background:#e3ebf2;
     transition: .35s;
     -moz-transition: .35s; /* Firefox 4 */
     -webkit-transition: .35s;  /* Safari 和 Chrome */
     -o-transition: .35s; /* Opera */
  }
  .CT_detailsBtnAB2:hover{
    background:#e3ebf2;
     transition: .35s;
     -moz-transition: .35s; /* Firefox 4 */
     -webkit-transition: .35s;  /* Safari 和 Chrome */
     -o-transition: .35s; /* Opera */
  }  
  .editorBox{
    float: right;
  }


@media screen and (min-width: 1440px) { 
 .CT_detailsBtnABox a{
         height:28px;
         line-height: 28px;
         padding:0 0;
         display: block;
         float: left;
         margin:0 5px;
         font-size: 16px;
         color:#999;
		}
}
		 
@media screen and (min-width: 1001px)  and (max-width: 1439px){	 
		 
.CT_detailsBtnABox a{
         height:23px;
         line-height: 23px;
         padding:0 0;
         display: block;
         float: left;
         margin:0 5px;
         font-size: 14px;
         color:#999;
		}
}
.bdsharebuttonbox{
   float: left;
}
.CT_DetailsClose{
  float: left;
  
}
.CT_DetailsFont{
  float: left;
}
  </style>
<script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/share.js"></script><script type="text/javascript" referrerpolicy="no-referrer-when-downgrade" src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/common.js"></script><link rel="stylesheet" href="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/share_style0_16.css"><link rel="stylesheet" href="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/share_popup.css"><link rel="stylesheet" href="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/select_share.css"></head>
<body>
      

<script>
$(function(){
   /*(function(win,doc){
      function change(){
          doc.documentElement.style.fontSize=doc.documentElement.clientWidth/750*100+'px';
      }
      change();
      win.addEventListener('resize',change,false);
  })(window,document);*/
  $(window).scroll(function (e){
        if($(window).scrollTop()>=300){
            $(".backTop").show('slow')
        }else{
            $(".backTop").hide('slow')            
        } 

       }) 

   $('.wapSearchA').click(function(event){
        event.stopPropagation();
       $('.wapSearchT').show('slow')
   })
    $('.wapSearchT').click(function(event){
        event.stopPropagation();
     })   
   $('body,html').click(function(){
       $('.wapSearchT').hide('slow')
   })

    $('.backTop').click(function(){
          $('body,html').animate({'scrollTop':'0px'},500)
     }) 
   /*检索下拉*/
   $('.CT_SearchDrop_down').mouseenter(function(){
   	   $('.CT_SearchDrop_downUl').fadeIn()
   }).mouseleave(function(){
   	   $('.CT_SearchDrop_downUl').fadeOut()
   })
   $('.CT_SearchDrop_downUl li').click(function(){
   	   var text = $(this).text()+'<img src="../../../images/movingHead_09.jpg" alt="" />';
   	   $('.CT_SearchDrop_downSpan').html(text)
   })
    $(window).scroll(function() {

      if($(window).scrollTop()>30){
        $('.movingHeadBox').css({'position':'fixed','top':'0px','left':'0'})
      }else{
      	 $('.movingHeadBox').css({'position':'static'})
      }

   })
    $('.CT_lunboLUl li').eq(0).css({'opacity':'1','z-index':'8'})
    
   $('.CT_CLTitleUl li:last-child').css('border-right',"0")

   var CT_ZZUlLength = $('.CT_ZZUl li').length
   var CT_ZZUlNum = 0;

   $('.CT_ZZUlRBtn a').click(function(){
       CT_ZZUlNum++
       if(CT_ZZUlNum>=CT_ZZUlLength){
          CT_ZZUlNum = CT_ZZUlLength-1
          return
       }
       var windowW = $(window).width();
       if(windowW>1440){
          $('.CT_ZZUl').animate({'margin-left':-CT_ZZUlNum*172+'px'},500)
       }else{
          $('.CT_ZZUl').animate({'margin-left':-CT_ZZUlNum*142.7+'px'},500)
       }
       
   })
   
   $('.CT_ZZUlLBtn a').click(function(){
       CT_ZZUlNum--
       if(CT_ZZUlNum<0){
          CT_ZZUlNum = 0
          return
       }
       var windowW = $(window).width();
       if(windowW>1440){
          $('.CT_ZZUl').animate({'margin-left':-CT_ZZUlNum*172+'px'},500)
       }else{
          $('.CT_ZZUl').animate({'margin-left':-CT_ZZUlNum*142.7+'px'},500)
       }
       
   })
  
   $('.CT_tourismBUlBox ul li').mouseenter(function(){
      $(this).addClass('active').siblings('li').removeClass('active');
      $('.CT_tourismTBox .CT_tourismLi').eq($(this).index()).addClass('active').siblings('.CT_tourismLi').removeClass('active');
   })
  
  $('.CT_QHGAT ul li').mouseenter(function(){
      $(this).addClass('active').siblings('li').removeClass('active');
      $('.CT_gct .CT_CRCBox').eq($(this).index()).addClass('active').siblings('.CT_CRCBox').removeClass('active');
   })

   $('.movingHeadJia').click(function(){
      var jianame =  $('.movingHeadJia img').attr('name');
      if(jianame == 'jia'){
        $('.movingHeadJia img').attr({'src':'../../../images/CT_headerJia2_03.png','name':'cha'});
        $('.HeadJiaUl').show('slow')
      }else if(jianame == 'cha'){
        $('.movingHeadJia img').attr({'src':'../../../images/CT_headerJia_03.png','name':'jia'})
        $('.HeadJiaUl').hide('slow')
      }
      // $('.HeadJiaUl').slideToggle("slow")
  })

   $('.CT_CLTWInnerVideo:first').css('margin-top','0px');
   $('.CT_CLTWInnerVideo:last').css('background','none')
   var windowW2 = $(window).width();
   if(windowW2>1440){
       $('.videoChinaUl .videoChinaLi2').eq(1).css()
       $('.videoChinaUl1 .videoChinaLi2').eq(1).css('margin','0 4.5px')
        $('.CT_HotTopic li:even').css('margin-right',"14px")
        $('.innerVideoTUl li:even').css('margin-right','1%')
   }else if(windowW2>1000){
       $('.videoChinaUl .videoChinaLi2').eq(1).css('margin','0 3px')
       $('.videoChinaUl1 .videoChinaLi2').eq(1).css('margin','0 3px')
        $('.CT_HotTopic li:even').css('margin-right',"12px")
        $('.innerVideoTUl li:even').css('margin-right','1%')
   }else{
        $('.innerVideoTUl li:even').css('margin-right','3%')
   }
    $('.youqingUl li:first').css('padding-left','0');
   $('.youqingUl li:last').css('border-right','0');
   $('.youqingZBLUl ul li:first').css('padding-left','0');
   $('.youqingZBLUl ul li:last').css('border-right','0');
   $('.youqingZBLUl1 li:last').css('border-right','0');
   if(windowW2<1000){
      /* $('.CT_lunbo').css('height',windowW2*(422/750)+"px");
       var specialBAW =  $('.specialBA').width();
       $('.specialBA').height(specialBAW*(45/158)+'px').css('line-height',specialBAW*(45/158)*(50/45)+"px")*/
       
        var swiper = new Swiper('.swiper-container1',{
         paginationClickable:true,
         spaceBetween:0,
         slidesPerView:4.5,
         slidesPerColumn:1   //将swiper页面多行显示为：3行
      });
       var swiper = new Swiper('.swiper-container2',{
             paginationClickable:true,
             spaceBetween:0,
             // slidesPerView:5.5,
             // slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
        var swiper = new Swiper('.swiper-container3',{
             paginationClickable:true,
             spaceBetween:35,
             slidesPerView:2.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
         var swiper = new Swiper('.swiper-container4',{
             paginationClickable:true,
             spaceBetween:20,
             slidesPerView:2.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
         var swiper = new Swiper('.swiper-container9',{
             paginationClickable:true,
             slidesPerView:3.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
   }

   $(window).resize(function () { 
       var windowW2 = $(window).width();
       if(windowW2>1440){
           $('.videoChinaUl .videoChinaLi2').eq(1).css('margin','0 4.5px')
           $('.videoChinaUl1 .videoChinaLi2').eq(1).css('margin','0 4.5px')
           $('.CT_HotTopic li:even').css('margin-right',"14px")
           $('.innerVideoTUl li:even').css('margin-right','1%')
       }else{
           $('.videoChinaUl .videoChinaLi2').eq(1).css('margin','0 3px')
           $('.videoChinaUl1 .videoChinaLi2').eq(1).css('margin','0 3px')
           $('.CT_HotTopic li:even').css('margin-right',"12px")
           $('.innerVideoTUl li:even').css('margin-right','1%')
       }

       if(windowW2<1000){
       $('.CT_lunbo').css('height',windowW2*(422/750)+"px");
        var swiper = new Swiper('.swiper-container1',{
         paginationClickable:true,
         spaceBetween:0,
         slidesPerView:4.5,
         slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
       var swiper = new Swiper('.swiper-container2',{
             paginationClickable:true,
             spaceBetween:0,
             slidesPerView:5.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
        var swiper = new Swiper('.swiper-container3',{
             paginationClickable:true,
             spaceBetween:35,
             slidesPerView:2.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
         var swiper = new Swiper('.swiper-container4',{
             paginationClickable:true,
             spaceBetween:20,
             slidesPerView:2.5,
             slidesPerColumn:1   //将swiper页面多行显示为：3行
          });
        }
   })

   /*new Slide('.CT_lunbo');*/

})
</script>




<!-- 页眉    <li><a href="http://www.chinahoje.net/">Português</a></li>
    -->
	<div class="CT_headerBox">
        <div class="CT_header">
          <div class="CT_headerTime"></div>
          <ul class="CT_headerUl">
          	<li><a href="http://www.chinatoday.com.cn/">中文</a></li>
          	<li><a href="http://www.chinatoday.com.cn/ctenglish/">English</a></li>
          	<li><a href="http://spanish.chinatoday.com.cn/">Español</a></li>
          	<li><a href="http://www.chinatoday.com.cn/ctfrench/">Français</a></li>
          	<li><a href="http://www.chinatoday.com.cn/ctarabic/">عربي</a></li>
          	<li><a href="http://german.chinatoday.com.cn/">Deutsch</a></li>
                   	<li class="CT_headerLastLi"><a href="http://www.chinatoday.com.cn/french/index.htm">Version&nbsp;précédente</a></li>
          </ul>
        </div>
	</div>
    <div class="movingHeadBox" style="position: static; top: 0px; left: 0px;">
         <div class="movingHead">
             <a class="movingHeadLogo" href=""><img src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/frlogo.png" alt="" data-bd-imgshare-binded="1"></a>
             <ul class="CT_nav">
             	<li><a href="http://www.chinatoday.com.cn/ctfrench/">Accueil</a></li>
             	<li><a href="http://www.chinatoday.com.cn/ctfrench/2018/tt/">Actualités</a><span>|</span></li>
             	<li><a href="http://www.chinatoday.com.cn/ctfrench/2018/twxw/">Photos</a><span>|</span></li>
             	<li><a href="http://www.chinatoday.com.cn/ctfrench/2018/tjwz/">À la une</a><span>|</span></li>
             	<li><a href="http://www.chinatoday.com.cn/ctfrench/2018/sd/">Reportage spécial</a></li>
             </ul>
             <a class="movingHeadJia"><img name="jia" src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/CT_headerJia_03.png" alt="" data-bd-imgshare-binded="1"></a>
             <div class="CT_SearchBox">
                 <div class="CT_SearchDrop_down">
                 </div>
<form name="frmSearch" id="frmSearch" action="http://was.cipg.org.cn/was5/web/search" method="get">
	             <input class="CT_SearchInput" type="text" name="searchword" value="Chercher" onfocus="if(this.value==this.defaultValue){this.value='';}" onblur="if(this.value==''||this.value==this.defaultValue){this.value=this.defaultValue;}">
<input type="hidden" name="channelid" value="264817">
	             <a class="CT_SearchA" href="#" onclick="document.getElementById('frmSearch').submit();return false"></a>
</form>
	         </div>
            <ul class="HeadJiaUl">

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/gc/">Opinions</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/zfq/">Chassé-Croisé</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/dzg/">La Chine à la loupe</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/wh/">Culture</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/zt/">Éditions spéciales</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/sp/">Vidéos</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/tyzg/">Rendez-vous avec la Chine</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/gyzg/">Galerie</a></li>

             <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/xyy/">Parlons chinois</a></li>

           </ul>    
         </div>
         <div class="headerShadow"></div>
         
    </div>
<!-- wap顶部语言导航    <li class="swiper-slide"><a href="http://www.chinahoje.net/">Português</a></li>
   -->
 <div class="wapTnav swiper-container1">
    <ul class="swiper-wrapper">
      <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/">中文</a></li>
      <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctenglish/">English</a></li>
      <li class="swiper-slide"><a href="http://spanish.chinatoday.com.cn/">Español</a></li>
      <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/">Français</a></li>
      <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctarabic/">عربي</a></li>
      <li class="swiper-slide"><a href="http://german.chinatoday.com.cn/">Deutsch</a></li>
    </ul>
 </div>  
<!-- wap顶部检索框 -->
   <div class="wapSearchBox">
      <div class="wapSearchT">
        <div class="wapSearch">
<form name="frmSearch" id="frmSearch" action="http://was.cipg.org.cn/was5/web/search" method="get">
          <input type="text" placeholder="Chercher" name="searchword">
          <a href="#" onclick="document.getElementById('frmSearch').submit();return false"></a> 
<input type="hidden" name="channelid" value="264817">
</form>
          </div>
        </div>
        <a class="wapSearchA"></a>
   </div>
<!-- wap首页导航 -->
 <div class="wapnav swiper-container2">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/">Accueil</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/tt/">Actualités</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/twxw/">Photos</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/tjwz/">À la une</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/sd/">Reportage spécial</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/gc/">Opinions</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/zfq/">Chassé-Croisé</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/dzg/">La Chine à la loupe</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/wh/">Culture</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/zt/">Éditions spéciales</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/sp/">Vidéos</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/tyzg/">Rendez-vous avec la Chine</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/gyzg/">Galerie</a></li>

              <li class="swiper-slide"><a href="http://www.chinatoday.com.cn/ctfrench/2018/xyy/">Parlons chinois</a></li>

    </ul>
</div> 
 
    <div class="CT_DetailsNavBox">
        <div class="CT_DetailsNav">
             <a href="http://www.chinatoday.com.cn/ctfrench/" title="Accueil" class="CurrChnlCls">Accueil</a>&gt;<a href="http://www.chinatoday.com.cn/ctfrench/2018/sp/" title="Vidéos" class="CurrChnlCls">Vidéos</a>
        </div>
    </div>
    <div class="CT_centerBox">
        <h2 class="CT_DetailsTitle">Oui, je reste en Chine！</h2>
        <div class="CT_DetailsTBBox">
         <div style="overflow:hidden;margin-bottom:15px">
         <span class="CT_DetailsTime">2020-02-17 11:46:00</span>
          <span class="CT_DetailsAuthor">Source：La Chine au présent</span>
          <span class="CT_DetailsAuthor">Auteur：La Chine au présent</span>
          </div>
          <div style="overflow:hidden">
           <a class="CT_DetailsClose" href="javascript:window.opener=null;window.open('','_self');window.close();">【Fermer】</a>
          <a class="CT_DetailsClose" href="javascript:window.print()">【Imprimer】</a>
          <span class="CT_DetailsFont" href="">【<a class="fontBig">Grand</a><a class="fontMiddle active">Moyen</a><a class="fontSmall">Petit</a>】</span>
         <!-- <a class="CT_DetailsClose" href="">【Error Correction】</a>-->
<div class="bdsharebuttonbox bdshare-button-style0-16" style="display:inline-block" data-bd-bind="1620573395787"><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["twi","fbook","linkedin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["twi","fbook","linkedin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
         </div>
        </div>
     <div class="CT_lunboBox CT_lunboBoxWenX">
        <div class="detailsPBox">
<style>
#videoarea{text-align:center;clear:both;}
#videoarea video{margin:0 auto;width:600px;}
#videoarea a{margin:0 auto; display:block;width:600px;height:337.5px; }
@media screen and (max-width:1118px)
{.open{display:none;}}
@media screen and (max-width:768px){#content img{width:100%;height:auto;}
#videoarea video{width:100%}
#content table{width:100%;height:auto;}
#content p{width:100%;height:auto;}
.arctitle h2{text-align:left;}
.xinxi{text-align:left;}
.content{line-height:26px;}
.content p{line-height:26px;}}
</style>

 
<div id="videoarea">
                  <video id="video-player-html5" preload="auto" autoplay="autoplay" controls="controls">
                  <source src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/20202171581908732897_473_3.mp4" type="video/mp4">
                 
                 
                  <a href="http://mp42.china.com.cn/video_tide/video/2020/2/17/20202171581908732897_473_3.mp4" id="player"><h2>Flash version 10,1 or greater is required</h2><h3>You have no flash plugin installed</h3><p>Click here to download latest version</p></a> 
</video>

 <script type="text/javascript"> 
flowplayer("player", "http://www.chinatoday.com.cn/chinese/style/js/flowplayer-3.2.18.swf"); 
</script> 
        </div>
<div class="TRS_Editor"><span>La Chine vit aujourd’hui un véritable 
drame collectif déclenché par la propagation du coronavirus.Beaucoup de 
monde se sont inquiétés de la sécurité des étrangers en Chine.Pour 
cela,nous les avons donc interviewés pour qu’ils partagent avec nous 
leurs expériences et leur sentiments dans cette époque spéciale.</span>
<%@people.each do |p|%>
<%p.dernierspostschine.each do |post|%>

  <%post.my_posts_surnames.each do |ps|%>
<p align="justify"><%=ps.myname %>, <%=ps.mycountry%></p>
<%end%>
<p align="justify"><span>«<%=post.content%>»</span>&nbsp;</p>
<p align="justify"></p><section data-role="paragraph"></section><section data-id="97159" data-tools="135编辑器"></section><section></section><section></section><section data-autoskip="1"></section><section data-id="96706" data-tools="135编辑器"></section><section data-width="100%"></section><section></section><section></section><section></section><section></section><p></p>
<%end%>
<%end%>
<p align="justify">Paul Mwemera Muhoza, la République démocratique du Congo</p>
<p align="justify"><span>«Je viens de la République démocratique du 
Congo.Présentement,je suis étudiant en Chine à l’Université des Trois 
gorges qui est dans la province du Hubei àYichang qui est à 
quelques(centaines) kilomètres de la ville de Wuhan,une ville qui est 
touchée par le coronavirus.Les autorités et mon université ont implanté 
certaines mesures pour faire face à ce fléau du virus.Entre autres,on a 
désinfecté la ville par pulvérisation,le port des masques est 
obligatoire dans tous les lieux publics.»</span>&nbsp;</p>
<p align="justify"></p><section data-role="paragraph"></section><section data-id="97159" data-tools="135编辑器"></section><section></section><section></section><section data-autoskip="1"></section><section data-id="96706" data-tools="135编辑器"></section><section data-width="100%"></section><section></section><section></section><section></section><section></section><p></p>


<p align="justify">Gilbert Van Kerckhove, la Belgique</p>
<p align="justify"><span>«Avec le coronavirus,j’ai décidé de rester à la
 maison ici à Pékin.Maintenant,ce que nous devons tous faire,c’est de 
coopérer.Je viens de sortir cet après-midi pour faire mes courses au 
supermarché.Le supermarché ça va,on trouve de tout,il n’y a pas de 
panique.»</span>&nbsp;</p>
<p align="justify">Zachary Gordon Lunquist, les États-Unis</p>
<p align="justify"></p><section data-role="paragraph"></section><section data-id="97159" data-tools="135编辑器"></section><section></section><section></section><section data-autoskip="1"></section><section data-id="96706" data-tools="135编辑器"></section><section data-width="100%"></section><section></section><section></section><section></section><section></section><span>«Aujourd'hui,les gens posent souvent la question:alors,à cause de tout cela,vous sentez-vous en sécurité?<span>E</span>t
 la réponse est bien sûr,le virus est très grave et chacun doit donc 
faire ce qu'il peut.Et quand nous sommes arrivés à la gare,les autorités
 en place avaient installé beaucoup d'équipements pour pouvoir faciliter
 la circulation et préserver la santé des gens.»</span>&nbsp;<p></p>
<p align="justify">Magdalena Rojas, le Chili</p>
<p align="justify"><span>«Je pense qu'il y a eu une campagne médiatique 
dans le monde,en particulier dans certains médias américains et 
européens,pour créer de la peur au sein de la population et elle est 
toujours là.Mais elle n'est pas conforme aux faits et à la science.Le 
virus est né à Wuhan mais ce n'est pas un virus chinois.Je pense que ce 
type de remarque ne sert qu'à discriminer et qu'elle ne contribue pas à 
résoudre le problème.»</span>&nbsp;</p>
<p align="justify"><span>Renaat Morel, le Belgique</span></p>
<p align="justify"><span>« En fait,les gens ont besoin de voir une fois 
ce qui s'est passé ici.Par exemple,nous sommes très prudents ici dans 
l'enceinte,nous avons donc un laissez-passer spécial pour entrer et 
sortir.Ils contrôlent l'ascenseur.Sur la paroi gauche de l’ascenseur il y
 a une petite boîte à mouchoir et du désinfectant.On peut en prendre un 
pour appuyer sur le bouton et cela peut éviter d’être contaminé par le 
virus.»</span>&nbsp;&nbsp;</p>
<p align="justify"><span>«Quand j'étais ici en 2003,j'ai vu à plusieurs 
reprises ce que le gouvernement chinois était capable de faire,alors 
ils(les pays étrangers)feraient mieux de prendre l'exemple de la Chine 
et de ne pas la critiquer.Je veux dire par là que nous sommes en plein 
Nouvel An chinois et tout le monde aiment être chez lui.Mais ils ont 
envoyé tous les médecins à Wuhan,ils ont construit un hôpital,tant de 
gens travaillent pendant cette période.En fait,seul le gouvernement 
chinois peut faire cela.»</span>&nbsp;</p>
<p align="justify">&nbsp;</p></div>
        <div class="CT_detailsBtnABox">
            <span style="float:left;">Partager:</span> <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1620573395787"><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></div>

            <!--<span class="editorBox">Editor: Wu Wen Da</span>-->
        </div>
     </div>




       <div class="detailsLBBBox">
           <div class="detailsLBBL">
              <a class="detailsLBBLA" href="">Pour aller plus loin</a>
              <ul class="CT_CRUl">

                 <li><a href="http://www.chinatoday.com.cn/ctfrench/2018/twxw/202008/t20200817_800217848.html">Chine: Vue nocturne de la ville de Wuhan</a></li>

               </ul>
           </div>
        </div>

    </div>
<!--  wap底部  -->
      <div class="CT_footerBoxWap">
         <p class="footerWap1">Copyright © 1998 - 2016</p>
         <p>今日中国杂志版权所有   |   京ICP备10041721号-4 </p>
      </div>
<!-- PC底部   -->  
    <div class="CT_footerBox">
        <div class="CT_footer">
           <div class="youqingLJBox">
              <p class="youqingLP">Liens</p>
              <ul class="youqingUl">
                     
              </ul>
           </div>
           
           <div class="youqingZBBox">
             <div class="youqingZBLUl">
                <ul class="youqingZBLUl1">
                  <li><a href="">Chinatoday   About us</a></li>
                  <li><a href="">Join Us</a></li>
                  <li><a href="">Contact Us</a></li>
                </ul>  
                <ul>
                  <li><a href="">Copyright Chinatoday   Paper Subscriptions </a></li>
                  <li><a href="">Electronic Subscriptions</a></li>
                </ul>   
             </div>
        </div>  
    </div>
<div style="margin:5px auto;color:#333;font-size:14px;text-align:center;">京ICP备10041721号-4</div>

<div class="backTop" style="display: none;"><img src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/backTop_03.png" alt="" data-bd-imgshare-binded="1"></div>
<!-- webTerren -->
<div style="display:none">
<script type="text/javascript">document.write(unescape("%3Cscript src='http://cl3.webterren.com/webdig.js?z=41' type='text/javascript'%3E%3C/script%3E"));</script><script src="/assets/Oui,%20je%20reste%20en%20Chine%EF%BC%81.html_fichiers/webdig.js" type="text/javascript"></script>
<script type="text/javascript">wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")</script>
</div>
<!-- webTerren --> 
<script>
     $(function(){
         $('.CT_DetailsFont a').click(function(){
             $(this).addClass('active').siblings('a').removeClass('active');
         })
   
         $('.fontBig').click(function(){
              var windowW = $(window).width();
             if(windowW>1440){
                $('.detailsImgBox p,.detailsPBox p').css('font-size','20px')
             }else{
                $('.detailsImgBox p,.detailsPBox p').css('font-size','18px')
             }
         })
           
         $('.fontMiddle').click(function(){
              var windowW = $(window).width();
             if(windowW>1440){
                $('.detailsImgBox p,.detailsPBox p').css('font-size','18px')
             }else{
                $('.detailsImgBox p,.detailsPBox p').css('font-size','16px')
             }
         })

         $('.fontSmall').click(function(){
              var windowW = $(window).width();
             if(windowW>1440){
                $('.detailsImgBox p,.detailsPBox p').css('font-size','16px')
             }else{
                $('.detailsImgBox p,.detailsPBox p').css('font-size','14px')
             }
         })

     })
</script>


</div></div><iframe id="bdSharePopup_selectshare1620573395784bg" class="bdselect_share_bg" style="display:none;" frameborder="0"></iframe><div id="bdSharePopup_selectshare1620573395784box" style="display: none;" share-type="selectshare" class="bdselect_share_box" data-bd-bind="1620573395784"><div class="selectshare-mod-triangle"><div class="triangle-border"></div><div class="triangle-inset"></div></div><div class="bdselect_share_head"><span>分享到</span><a href="http://www.baidu.com/s?wd=&amp;tn=SE_hldp08010_vurs2xrp" class="bdselect_share_dialog_search" target="_blank"><i class="bdselect_share_dialog_search_i"></i><span class="bdselect_share_dialog_search_span">百度一下</span></a><a class="bdselect_share_dialog_close"></a></div><div class="bdselect_share_content"><ul class="bdselect_share_list bdshare-button-style0-16"><div class="bdselect_share_partners"><a href="#" class="bds_twi" data-cmd="twi"></a><a href="#" class="bds_fbook" data-cmd="fbook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin"></a></div><a href="#" class="bds_more" data-cmd="more"></a></ul></div></div><div id="bdimgshare_1620573395790" class="sr-bdimgshare sr-bdimgshare-list sr-bdimgshare-16 sr-bdimgshare-black" style="height:36px;line-height:26px;font-size:12px;width:autopx;display:none;" data-bd-bind="1620573395790"><div class="bdimgshare-bg"></div><div class="bdimgshare-content bdsharebuttonbox bdshare-button-style0-16"><label class="bdimgshare-lbl">分享到：</label><a href="#" onclick="return false;" class="bds_twi" data-cmd="twi" hidefocus=""></a><a href="#" onclick="return false;" class="bds_fbook" data-cmd="fbook" hidefocus=""></a><a href="#" onclick="return false;" class="bds_linkedin" data-cmd="linkedin" hidefocus=""></a><a href="#" onclick="return false;" class="bds_more" data-cmd="more" hidefocus=""></a></div></div></body></html>
