<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Vidéo : Oui, je reste en Chine !
</title>
<meta name="keywords" content="coronavirus, Wuhan">
<META name="filetype" content="0"></META>
<META name="publishedtype" content="1"></META>
<META name="pagetype" content="1"></META>
<META name="catalogs" content=""></META>
<META name="contentid" content="75704120"></META>
<META name="publishdate" content="2020-02-14"></META>
<META name="author" content="Lisa"></META>
<script language="javascript" src="http://images.china.cn/images1/en/2009home/style.js" type="text/javascript">
</script>

<script language="javascript" type="text/javascript">
<!--
function emThis(){
    var emailSubject;
    var linkUrl;
    var topic;
    var abst;
    
    emailSubject = 'China.org.cn';
    linkUrl = window.location.href;
    topic = document.getElementById('topic').innerHTML.replace(/&amp;/g,'%26').replace(/#/g,'%23');
    abst = document.getElementById('abst').innerHTML.replace(/&amp;/g,'%26').replace(/#/g,'%23');
    
    var et = 'mailto:?subject=' + emailSubject + ':%20' + topic + '&body=' + topic + '%0D%0A' + abst + '%0D%0A%0D%0A' + linkUrl;
    location.href = et;
}
-->
</script>

<link href="http://images.china.cn/images1/de/german_images/german_layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://images.china.cn/images1/de/german_images/layout.js">
</script>

<script type="text/javascript" src="http://images.china.cn/images1/de/german_images/print.js">
</script>

<script type="text/javascript" src="http://www.china.com.cn/jquery-1.7.min.js">
</script>

<script type="text/javascript">
<!--
document.domain = 'china.org.cn';
$(document).ready(function(){
    var xmlurl = 'http://french.china.org.cn/paihang_fr/13.xml';
    $('body').prepend('<iframe src="http://french.china.org.cn/tifr.html?#'+ xmlurl +'" style="display: none;"><\/iframe>');
})

function xml(obj){
    $('#paihang').append('<ul style="padding-left:0px; padding-bottom:20px;"><\/ul>');  
    $(obj).find('item').each(function(index) {
            if(index > 5){ return false };
            var title = $("article", this).text();
            var url = $("url", this).text();
            var src = $("picurl", this).text();
            $('#paihang ul').append('<li>- <a href="'+ url +'" target="_blank">' + title + '<\/a><\/li>');
    })
}
-->
</script>

<style type="text/css">
<!--
a { line-height:20px; font-size: 12px; color:#000; text-decoration:none; }
a:hover { text-decoration: underline; }
#vf { text-align: center; clear: both; width: 480px; margin: 0px auto; }
.f12_386BA3, .f12_386BA3 a { font-size: 12px; line-height: 160%; color: #386BA3; text-decoration: none; }
.f12_CC0033, .f12_CC0033 a { font-size: 12px; line-height: 100%; color: #CC0033; text-decoration: none; }
.f14_666666, .f14_666666 a { font-size: 12px; line-height: 100%; color: #666666; text-decoration: none; line-height: 150%; font-weight: bold; }
.f14 { font-size: 14px; line-height: 170%; }
.f14 a { font-size: 14px; line-height: 170%; text-decoration: none; }
.nav_title { font-size: 25px; line-height: 125%; color: #000000; text-decoration: none; margin-top: 20px; font-family: Arial; padding:0 10px 10px 10px; text-align:center; font-weight:normal; }
.pinglun { background-color: #F2F2F2; width: 657px; border: 0px; }
.pinglun2 { background-color: #F2F2F2; width: 580px; border: 0px; }
.pinglun3 { background-color: #F2F2F2; width: 271px; border: 0px; }
#comment { width:100%; clear:both; font-size: 14px; font-weight: bold; line-height: 20px; color: #386BA3; }
#usercomment { border-top: 1px solid #CDCDCD; font-size: 12px; font-weight: normal; color: #000000; text-align: left; margin: 5px 0px; }
.comment_name { width: 370px; float: left; margin: 5px 10px; color: #386BA3; }
.comment_ip { float: right; margin: 5px 10px; }
.comment_date { display: none; }
.comment_text { clear: both; margin: 5px 10px; }
#center { MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }
.v11B_666666 { font-family: Verdana; font-size: 11px; font-weight: bold; color: #666666; text-decoration: none; }
body { width: 100%; }
body, td, th { color: #000000; }
ul { list-style-type: none; }
#main1 { height: 25px; line-height: 25px; width: 100%; background-image: url(http://images.china.cn/images1/de/2008gaiban/01.jpg); text-align: center; }
#mainnav { height: 25px; line-height: 25px; width: 980px; background-image: url(http://images.china.cn/images1/de/2008gaiban/01.jpg); text-align: left; MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }
#diaocha { background-image: url(http://images.china.cn/images1/de/2008gaiban/17.jpg); }
#mainnav h1 { font-size: 12px; color: #494949; font-family: Verdana; text-decoration: none; font-weight: normal; }
.v11_006699 { font-family: Verdana; font-size: 11px; color: #006699; text-decoration: none; }
#mainnav a { height: 25px; font-family: Verdana; font-size: 12px; color: #494949; text-decoration: none; }
#mainnav span { float: right; }
#logo { text-align: right; width: 980px; MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }
#logo fm { width: 485px; }
#logo span { font-size: 12px; color: #386BA3; text-decoration: none; font-weight: bold; line-height: 16px; margin-right: 10px; MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }
#nav { width: 485px; line-height: 25px; margin-top: 10px; text-align: left; float: right; }
#ckey { background-color: #FDFCF0; border: 1px solid #C2C2C2; height: 20px; width: 175px; margin-left: 10px; }
.tj { color: #333333; border: 0; height: 20px; width: 78px; font-size: 10px; background-image: url(http://images.china.cn/images1/de/2008gaiban/03.jpg); font-family: Arial; }
#subnav { font-size: 12px; line-height: 27px; color: #FFFFFF; text-decoration: none; background-color: #676767; text-align: center; clear: both; margin-bottom: 2px; }
#subnav a { font-weight: bold; color: #FFFFFF; }
#daohang { height: 28px; width: 980px; background-image: url(http://images.china.cn/images1/de/2008gaiban/04.jpg); text-align: center; line-height: 28px; MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }
.v14B_FFFFFFF { font-family: Verdana; font-size: 14px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.v14B_FFFFFF { font-family: Verdana; font-size: 14px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.v13B_FFFFFF { font-family: Verdana; font-size: 13px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
#keywords { width: 900px; margin: 10px auto; font-size:12px; color:#386BA3; }
#keywords a { font-size:12px; color:#386BA3; }
.leng { width:960px; margin:0 auto; text-align:left; border:1px solid #DBDBDB; }
.leng h1 { background:url(http://images.china.cn/images1/de/20120607nrg/leng1.jpg) repeat-x top left; border-bottom:1px solid #DBDBDB; line-height:30px; color:#E02223; font-size:16px; padding-left:28px; height:30px; }
.leng h1 a { line-height:20px; color:#E02223; font-size:16px; }
.leng ul { width:934px; margin:0 auto; color:#386BA3; line-height:26px; font-size:14px; padding-left:24px; padding-top:30px; }
.leng ul a { color:#386BA3; line-height:26px; font-size:14px; }
.leng1 { width:960px; margin:0 auto; text-align:left; margin-top:10px; border:1px solid #DBDBDB; }
.leng1 h1 { background:url(http://images.china.cn/images1/de/20120607nrg/leng1.jpg) repeat-x top left; border-bottom:1px solid #DBDBDB; line-height:30px; color:#E02223; font-size:16px; padding-left:28px; height:30px; }
.leng1 h1 a { line-height:20px; color:#E02223; font-size:16px; }
.leng1 ul { width:958px; margin:0 auto; color:#386BA3; line-height:26px; font-size:14px; padding-left:10px; padding-top:20px; overflow:hidden; height:1%; }
.leng1 ul a { color:#386BA3; line-height:26px; font-size:14px; }
.leng1 li { width:150px; color:#386BA3; float:left; display:inline; padding:0 20px; line-height:18px; font-size:12px; }
.leng1 li a { color:#386BA3; line-height:18px; font-size:12px; }
.leng1 li img { width:150px; height:110px; margin-bottom:10px; }
.leng1 li p { padding:10px 0 10px 0; }
.leng2 { width:960px; margin:0 auto; text-align:left; margin-top:10px; border:1px solid #DBDBDB; font-size:12px; }
.leng2 a { font-size:12px; text-align:left; }
.leng2 h1 { background:url(http://images.china.cn/images1/de/20120607nrg/leng1.jpg) repeat-x top left; border-bottom:1px solid #DBDBDB; line-height:30px; color:#E02223; font-size:16px; padding-left:28px; height:30px; }
.leng2 h1 a { line-height:20px; color:#E02223; font-size:16px; }
.leng2 ul { width:958px; margin:0 auto; color:#386BA3; line-height:26px; font-size:12px; padding-left:10px; padding-top:20px; overflow:hidden; height:1%; }
.leng2 ul a { color:#386BA3; line-height:26px; font-size:12px; }
.leng2 li { width:160px; color:#386BA3; float:left; display:inline; padding:0 15px; line-height:18px; font-size:12px; }
.leng2 li a { color:#386BA3; line-height:18px; font-size:12px; }
.leng2 li img { width:160px; height:125px; margin-bottom:10px; }
.leng2 li p { padding:10px 0 10px 0; }
.Menu { height:24px; line-height:24px; width: 90px; color:#333; font-size:12px; text-align:left; font-weight:normal; }
.Menu li { position: relative; width:100px; font-size:12px; line-height:24px; color:#333; font-weight:normal; }
.Menu li a { font-size: 12px; line-height: 24px; color: #333; text-decoration: none; font-weight:normal; height: 24px; text-align:left; }
.Menu li li a { text-align:left; line-height: 24px; height: 26px; position: relative; z-index: 4; font-weight:normal; }
.Menu ul ul { position: absolute; left: 0px; top: 22px; width:110px; display: none; border: 4px solid #CCC; }
.Menu li li { background:#FFF; width:110px; display:inline; height:24px; text-align:left; }
#Menu li div { background: #FFFFFF; height: 80px; width: 0px; position: absolute; z-index: 3; left: 0px; top: 0px; display: none; }
/* two core styles, use for all heights */
.fb-share-button { background: #fff no-repeat; display: inline-block; padding: 0; text-decoration: none !important; outline: none; background-image: url(http://images.china.cn/images1/de/20120607nrg/leng2.jpg) }
.fb-share-button span { background: #fff; color: #333333; display: block; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; margin: 1px 1px 0 0; text-shadow: none; padding: 0 2px; /* size specific section: */
  line-height: 15px; font-size: 13px; margin-left: 18px; }
/* add these two for a 22px high button */
.fb-share-button-22 { background-image: url(https://s-static.ak.facebook.com/images/share/links/fb-button-icon22.png); }
.fb-share-button-22 span { line-height: 19px; font-size: 12px; margin-left: 22px; }
/* add these two for a 25px high button */
.fb-share-button-25 { background-image: url(https://s-static.ak.facebook.com/images/share/links/fb-button-icon25.png); }
.fb-share-button-25 span { line-height: 22px; font-size: 16px; margin-left: 25px; }
/* add these two for a 39px high button */
.fb-share-button-39 { background-image: url(https://s-static.ak.facebook.com/images/share/links/fb-button-icon39.png); }
.fb-share-button-39 span { line-height: 36px; font-size: 18px; margin-left: 39px; }
-->
.bg1 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; }
.a10_333333 { font-family: Arial; font-size: 10px; color: #333333; text-decoration: none; }
.a11 { font-family: Tahoma; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-color: #FC6633; height: 20px; width: 72px; border: 0px; }
.a11_000000 { font-family: Arial; font-size: 11px; color: #000000; text-decoration: none; }
.a11_333333 { font-family: Arial; font-size: 11px; color: #333333; text-decoration: none; }
.a12_000000 { font-family: Arial; font-size: 12px; color: #000000; text-decoration: none; }
.a12b_333333 { font-family: Arial; font-size: 12px; font-weight: bold; color: #333333; text-decoration: none; }
.a20b_FFFFFF { font-family: Arial; font-size: 20px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.a25_000000 { font-family: Arial; font-size: 25px; color: #000000; text-decoration: none; }
.v11b_CC0000 { font-family: Verdana; font-size: 11px; font-weight: bold; color: #CC0000; text-decoration: none; }
.v11_000000 { font-family: Verdana; font-size: 11px; color: #000000; text-decoration: none; }
.k11 { background-color: #FEFCF0; height: 20px; width: 210px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; }
.t11bu_333333 { font-family: Tahoma; font-size: 11px; font-weight: bold; color: #333333; text-decoration: underline; }
.t13b_FFFFFF { font-family: Tahoma; font-size: 13px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.t13b_BD0000 { font-family: Tahoma; font-size: 13px; font-weight: bold; color: #BD0000; text-decoration: none; }
.t9bu_FFFFFF { font-family: Tahoma; font-size: 9px; color: #FFFFFF; text-decoration: underline; font-weight: bold; }
.t11b_FFFFFF { font-family: Tahoma; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.a12b_CC0000 { font-family: Arial; font-size: 10px; font-weight: bold; color: #CC0000; text-decoration: none; }
.h12 { line-height: 145%; color: #333333; text-decoration: none; }
.a111 { background-image: url(http://images.china.cn/images1/fra/07franch/a2.jpg); height: 19px; width: 89px; border: 0px; }
.a12bi_FFFFFF { font-family: Arial; font-size: 12px; font-style: italic; font-weight: bold; color: #FFFFFF; text-decoration: none; }
.k111 { height: 22px; width: 215px; }
.STYLE1 { font-size: 16px }
.STYLE2 { font-size: 14px; line-height: 22px; color: #000000; text-decoration: none; padding-top: 5px; }
.f14_000000 { font-size: 14px; color: #000000; text-decoration: none; padding-bottom: 8px; }
.b12 { line-height: 22px; color: #000000; text-decoration: none; padding-top: 5px; }
.tit25 { font-size: 25px; line-height: 125%; color: #000000; text-decoration: none; }
.t9b_CCCCCC { font-family: Tahoma; font-size: 9px; font-weight: bold; color: #CCCCCC; text-decoration: none; }
.lenggg { text-align:left; line-height:1.5em; }
#paihang { border: 1px solid #DBDBDB; display: inline; float: right; width: 405px; hidden; margin: 10px 18px 10px 0px; }
#paihang h1 { font-size: 16px; color: #E02223; line-height: 30px; background: url(http://images.china.cn/images1/de/20120607nrg/leng1.jpg) repeat-x top left; border-bottom: 1px solid #DBDBDB; text-align: left; height: 30px; padding-left: 28px; }
#paihang ul { margin: 10px 20px; }
#paihang ul li { color: #386BA3; line-height: 20px; text-align: left; }
#paihang ul li a { color: #386BA3; }
#paihang ul li img { display: none; }


#nav1 { height:35px; background:#2D5FA8; font-size:16px; color:#FFF; line-height:35px; padding-left:15px; width:972px; margin:0 auto; clear:both;}
#nav1 a { font-size:16px; color:#FFF; line-height:35px; }
#nav1 li { float:left; display:inline; padding:0 19px; height:35px; border-left:1px solid #98B0DC;}
#nav1 .navnone { border:none;}
#nav1 .navcur { border:none; background:#1F499B;}

.rightNav { width: 50px; margin-left: 500px; position: fixed; top: 30%; left: 50%; _position: absolute; _top : expression(documentElement.scrollTop + 210 + "px"); }
.rightNav p { height: 50px; margin-top: 5px; }
.rightNav .top { cursor: pointer; }
-->
</style>

<script src="http://german.china.org.cn/email.js" type="text/javascript">
</script>

<script type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>

<script type="text/javascript" language="JavaScript">
<!--
function show_1()
{
div1.style.display="";
div2.style.display="none";
}

function show_2()
{
div1.style.display="none";
div2.style.display="";
}

function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>

<script type="text/javascript">
<!--
function viewComment_loc() {
    var nodeid=0;
    var nsid=0;
    try{
        nodeid=document.forms["myform"].nodeid.value;
        nsid=document.forms["myform"].nsid.value;
    }catch(e){}
    document.forms["myform"].action = "http://comments.china.com.cn/comments/servlet/DisplayComments?nodeid="+nodeid+"&nsid="+nsid;
    document.forms["myform"].submit();
}

function submitCheck_loc()
{
  if(trim(document.myform.content.value.length)>1000){
    alert("Vous devez raccoucir vos commentaires. Puis cliquez \"valider\". Si vous souhaitez contribuer à un article, veuillez nous contacter à webfr@china.org.cn.");
    return false;
  }
  if(document.myform.content.value.indexOf("<script")!=-1 ||document.myform.content.value.indexOf("<\/")!=-1){
    alert("Vos commentaires contiennent des caractères spéciaux qui doivent être supprimés. Rectifiez puis cliquez sur \"valider\".");
    return false;
  }
  if(trim(document.myform.content.value) == "" || trim(document.myform.content.value) == "Espace d'expression libre")
  {
    alert("Vous devez entrer vos commentaires. Puis cliquez \"valider\".");
    document.myform.content.focus();
    return false;
  }
  if(document.forms["myform"].isGuest.checked==false && document.forms["myform"].author.value==""){
    alert("Vous devez indiquer votre pseudonyme ou cocher la case \"Anonyme\". Puis cliquez sur \"Valider\".");
    return false;
  }
  if(document.forms["myform"].isGuest.checked == true){
     document.forms["myform"].author.value="Anonyme";
     document.forms["myform"].isGuest.checked = false;
  }
  document.myform.submit();
  alert("Votre commentaire a bien été enregistré. Nous vous remercions de votre participation.");
  document.location.href = document.location.href;
}

function trim(s) {
    if (s == null || s == "") {
        return "";
    }
    var Str = new String(s);
    var newstr = Str.replace(/^\s*/, "");
    return (newstr.replace(/\s*$/, ""));
}
-->
</script>

<script type="text/javascript" src="http://www.china.com.cn/player/video.js">
</script>

<script type="text/javascript">
<!--
  $(function(){
      $("#Menu>ul>li").hover(
        function(){
           $(this).children("ul").show()
        },
        function(){
          $(this).children("ul").hide()
        }
      )
  })
-->
</script>

<script type="text/javascript">
<!--
$(document).ready(function() {
  var weburl = window.location;
    var webtitle = $('#nav_title').html();
    var hrefs = 'https://plusone.google.com/_/+1/confirm?hl=de&amp;url='+ weburl +'&amp;title='+ webtitle;
    $('#googglebox').attr('href',hrefs);
    $('#googglebox').click(function() {
        window.open(hrefs, 'gplus_sharer', 'toolbar=0,status=0,width=626,height=436');
        return false;
    });
});
-->
</script>

<script type="text/javascript" language="javascript">
<!--
function suitPic() {
        var width   = 0;
        var height  = 0;
        var changed = 0;
        var setwidth = 900; //允许的最大宽度
        var setheight = 6000; //允许的最大高度
        var img = document.getElementsByTagName('IMG');
        for (i = 0; i < img.length; i++) {
                width = img[i].width;
                height = img[i].height;
                if (img[i].width > setwidth) {
                        n = img[i].width / setwidth;
                        img[i].width = setwidth;
                        img[i].height = height / n;
                        changed = 1;
                }
                if (img[i].height > setheight) {
                        n = img[i].height / setheight
                        img[i].width = img[i].width / n;
                        img[i].height = setheight;
                        changed = 1;
                }
                if (changed == 1) {
                        //这里你可以做点什么,比如 "alert('萎缩了');",但通常没什么可做的.
                }
        }
        
        
}
-->
</script>
</head>
<body onload="suitPic();">
<div id="phcnlinkpic" style="display:none;">
<img src=http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg border=0>
</div>
<div style="width:980px; margin:0 auto;"><iframe id="top" name="top" src="http://french.china.org.cn/node_7024039.htm" width="980" height="90" border="0" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no"></iframe></div>

<div id="nav1">
<ul>
<li class="navnone"><a href="http://french.china.org.cn/" target="_blank">Accueil</a></li>

<li><a href="http://french.china.org.cn/china/node_2044929.htm" target="_blank">Chine</a></li>

<li><a href="http://french.china.org.cn/foreign/node_2044930.htm" target="_blank">International</a></li>

<li><a href="http://french.china.org.cn/business/node_2044931.htm" target="_blank">Économie</a></li>

<li><a href="http://french.china.org.cn/culture/node_2044989.htm" target="_blank">Culture</a></li>

<li><a href="http://french.china.org.cn/travel/node_2044937.htm" target="_blank">Tourisme</a></li>

<li><a href="http://french.china.org.cn/photos/node_7028159.htm" target="_blank">Photos</a></li>

<li><a href="http://french.china.org.cn/specials/node_2184036.htm" target="_blank">Éditions spéciales</a></li>

<li><a href="http://french.china.org.cn/pratique/node_7023903.htm" target="_blank">Services</a></li>
</ul>
</div>

<div style="width: 986px; margin: 0px auto;">
<div style="float: left;width: 985px;text-align: center;border-right-width: 1px;border-right-style: solid;border-right-color: #DBDBDB;border-left-width: 1px;border-left-style: solid;border-left-color: #DBDBDB; padding-bottom:20px; border-bottom:1px solid #CCCCCC;">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" style="margin: 0px auto 8px auto; border-bottom:1px solid #CCCCCC;">
<tr>
<td width="252" height="35" align="left" class="f12_386BA3"></td>
<td width="519" style="text-align:right; padding-left:3px;"><a href="http://french.china.org.cn/rss/node_7034178.htm" target="_parent" title="Rss"><img src="http://images.china.cn/images1/de/20120607nrg/leng8.jpg" border="0" /></a></td>
<td width="22" style="padding-left:3px;"><img src="http://images.china.cn/images1/de/20120607nrg/leng9.jpg" title="Envoyer " alt="Envoyer" style="cursor:pointer;" border="0" onclick="mailThisUrl();" /></td>
<td width="22" style="padding-left:3px;"><a href="javascript:window.print();" target="_parent" title="Imprimer"><img src="http://images.china.cn/images1/de/20120607nrg/leng10.jpg" border="0" /></a></td>
<td width="23" style="padding-left:3px;"><a href="javascript:(function(){if(window.sidebar){window.sidebar.addPanel(document.title,location.href,&#39;&#39;);}else if(window.external){window.external.AddFavorite(location.href,document.title);}})();" target="_parent" title="Favoris"><img src="http://images.china.cn/images1/de/20120607nrg/leng11.jpg" border="0" /></a></td>
<td width="22" style="padding-left:3px;"><a href="#md" title="Commenter"><img src="http://images.china.cn/images1/de/20120607nrg/leng12.jpg" border="0" /></a></td>
<td width="40" style="padding-left:3px;">[<span id="fzup" class="b12 STYLE1" style="cursor:pointer;"><strong>A</strong></span> <span id="fzdown" class="b12" style="cursor:pointer;">A</span>]</td>
</tr>
</table>

<h1 id="nav_title" class="nav_title">Vidéo : Oui, je reste en Chine !</h1><div id="keywords">French.china.org.cn　|　Mis à jour le  14. 02. 2020　|　<span>Mots clés : </span><font id="kw">coronavirus, Wuhan</font></div>
<div class="f14" id="fontzoom" style="text-align: left; width: 900px; margin: 10px auto;">
<div class="lenggg"><div id="vf"><div align="center" id="videoarea" style="width:480px; height:360px; display:none">
                <p align="center"><strong>视频播放位置</strong></p>
                  <a href="http://www.adobe.com/cn/products/flashplayer/">下载安装Flash播放器</a>
</div></div>
<!--enpcontent--><p><span id="videofile" src="http://mpvideo.qpic.cn/0bf2giaawaaakuabgwsfjjpfamwdbmzaacya.f10002.mp4?dis_k=9ada104f47d2485a39d83ffb4e3f7ac8&dis_t=1581646821"></span></p>

  <p style="margin-bottom: 15px;">Présentateur :&nbsp;La Chine vit aujourd’hui un véritable drame collectif déclenché par la propagation du coronavirus. Beaucoup de monde se sont inquiétés de la sécurité des étrangers en Chine. Pour cela, nous les avons donc interviewés pour qu’ils partagent avec nous leurs expériences et leur sentiments dans cette époque spéciale.</p><p style="margin-bottom: 15px;">主持人：目前,中国正在抗击新型冠状病毒肺炎疫情。很多国外的朋友很关心在华外籍人员的安全问题。因此“近观中国”栏目联系了几位疫情期间留在中国的外籍朋友,请他们分享一下自己这段时间的经历和感受。</p>

  <p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Paul Mwemera Muhoza</p><p style="margin-bottom: 15px;">老罗</p><p style="margin-bottom: 15px;">République démocratique du Congo</p><p style="margin-bottom: 15px;">刚果(金)</p>



<p style="margin-bottom: 15px;">Présentateur :&nbsp;La Chine vit aujourd’hui un véritable drame collectif déclenché par la propagation du coronavirus. Beaucoup de monde se sont inquiétés de la sécurité des étrangers en Chine. Pour cela, nous les avons donc interviewés pour qu’ils partagent avec nous leurs expériences et leur sentiments dans cette époque spéciale.</p><p style="margin-bottom: 15px;">主持人：目前,中国正在抗击新型冠状病毒肺炎疫情。很多国外的朋友很关心在华外籍人员的安全问题。因此“近观中国”栏目联系了几位疫情期间留在中国的外籍朋友,请他们分享一下自己这段时间的经历和感受。</p><p style="margin-bottom: 15px;"><br/></p>

<%@people.each do |p|%>
<%p.dernierspostschine.each do |post|%>
  <%post.my_posts_surnames.each do |ps|%>
    <p style="margin-bottom: 15px;"><%=ps.surname ? ps.surname.name : (ps.person ? ps.person.name : (ps.avatar ? ps.avatar.name : "")) %></p><p style="margin-bottom: 15px;">老罗</p><p style="margin-bottom: 15px;"><%=(ps.person||ps.avatar).country.name%></p><p style="margin-bottom: 15px;">刚果(金)</p>
<%end%>

<p style="margin-bottom: 15px;">« <%=post.content%>»</p><p style="margin-bottom: 15px;">“我是三峡大学的一名留学生,三峡大学位于湖北省宜昌市。中国政府和我们大学已经采取了一系列措施去防控疫情,城市里也进行了全面消毒,所有人都带上了口罩。”</p><p style="margin-bottom: 15px;"><br/></p>

<%end%>
<%end%>

<p style="margin-bottom: 15px;">Paul Mwemera Muhoza</p><p style="margin-bottom: 15px;">老罗</p><p style="margin-bottom: 15px;">République démocratique du Congo</p><p style="margin-bottom: 15px;">刚果(金)</p>

<p style="margin-bottom: 15px;">« Je viens de la République démocratique du Congo. Présentement, je suis étudiant en Chine à l’Université des Trois gorges qui est dans la province du Hubei à Yichang qui est à quelques (centaines) kilomètres de la ville de Wuhan, une ville qui est touchée par le coronavirus. Les autorités et mon université ont implanté certaines mesures pour faire face à ce fléau du virus. Entre autres, on a désinfecté la ville par pulvérisation, le port des masques est obligatoire dans tous les lieux publics.»</p><p style="margin-bottom: 15px;">“我是三峡大学的一名留学生,三峡大学位于湖北省宜昌市。中国政府和我们大学已经采取了一系列措施去防控疫情,城市里也进行了全面消毒,所有人都带上了口罩。”</p><p style="margin-bottom: 15px;"><br/></p>

<p style="margin-bottom: 15px;">Gilbert Van Kerckhove</p><p style="margin-bottom: 15px;">范克高夫</p><p style="margin-bottom: 15px;">Belgique</p><p style="margin-bottom: 15px;">比利时</p><p style="margin-bottom: 15px;">«Avec le coronavirus, j’ai décidé de rester à la maison ici à Pékin. Maintenant, ce que nous devons tous faire, c’est de coopérer. Je viens de sortir cet après-midi pour faire mes courses au supermarché. Le supermarché ça va, on trouve de tout, il n’y a pas de panique. »</p><p style="margin-bottom: 15px;">“面对最近的新冠肺炎,我决定留在北京的家里。现在我们唯一能做的就是合作,我今天下午去了一趟超市买东西。超市里商品齐全,没有出现恐慌。”</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Zachary Gordon Lunquist</p><p style="margin-bottom: 15px;">黄浩</p><p style="margin-bottom: 15px;">États-Unis&nbsp;</p><p style="margin-bottom: 15px;">美国</p><p style="margin-bottom: 15px;">« Aujourd&#39;hui, les gens posent souvent la question : alors, à cause de tout cela, vous sentez-vous en sécurité ? et la réponse est bien sûr, le virus est très grave et chacun doit donc faire ce qu&#39;il peut. Et quand nous sommes arrivés à la gare, les autorités en place avaient installé beaucoup d&#39;équipements pour pouvoir faciliter la circulation et préserver la santé des gens. »</p><p style="margin-bottom: 15px;">“现在我在国外的朋友经常问我在中国安全吗?我的答案是:当然!虽然疫情很严重,但是现在所有人都在尽最大的努力。我们在火车站的时候,看到火车站安装了很多设备,保障交通顺利运行,同时保证人们的健康和安全。”</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Présentateur : La porte-parole du ministère des Affaires étrangères de Chine, Mme Hua Chunying a déclaré le 6 février à la presse, que la Chine continuerait de garantir la sécurité et les soins aux étrangers en Chine ainsi que les soins aux citoyens chinois. Les mesures d’hygiène et de prévention sont traduites en quasiment toutes les langues, les étrangers en Chine peuvent rester au courant de l’évolution de l’épidémie et des règles à respecter. Mais ils ont en colère lorsqu’ils lisent ou regardent certains reportages injustes dans les médias occidentaux.&nbsp;</p><p style="margin-bottom: 15px;">主持人：中国外交部发言人华春莹2月6日对媒体说,中国将继续像关心本国公民一样,关心在华外国人的安全和健康。在华外籍人员可通过中国的社交网络,看到多语种的疫情防控信息推送,了解最新的疫情变化,知晓针对疫情需遵守的规则。他们通过现身说法,讲述真实的抗疫故事。</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Renaat Morel&nbsp;</p><p style="margin-bottom: 15px;">莫劳&nbsp;</p><p style="margin-bottom: 15px;">Belgique&nbsp;</p><p style="margin-bottom: 15px;">比利时</p><p style="margin-bottom: 15px;">«En fait,les gens ont besoin de voir une fois ce qui s&#39;est passé ici.Par exemple,nous sommes très prudents ici dans l&#39;enceinte,nous avons donc un laissez-passer spécial pour entrer et sortir.Ils contrôlent l&#39;ascenseur.Sur la paroi gauche de l’ascenseur il y a une petite boîte à mouchoir et du désinfectant.On peut en prendre un pour appuyer sur le bouton et cela peut éviter d’être contaminé par le virus.»</p><p style="margin-bottom: 15px;">“你们需要来看看现在中国的真实情况。我们的小区里,对抗疫情的手段非常有力,比如出入小区需要出示通行证;在电梯里设置了一个小盒子,里面有消毒纸巾,可以避免通过电梯按钮传染。”</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Magdalena Rojas&nbsp;</p><p style="margin-bottom: 15px;">华星</p><p style="margin-bottom: 15px;">Chili&nbsp;</p><p style="margin-bottom: 15px;">智利</p><p style="margin-bottom: 15px;">« Je pense qu&#39;il y a eu une campagne médiatique dans le monde, en particulier dans certains médias américains et européens, pour créer de la peur au sein de la population et elle est toujours là. Mais elle n&#39;est pas conforme aux faits et à la science. Le virus est né à Wuhan mais ce n&#39;est pas un virus chinois. Je pense que ce type de remarque ne sert qu&#39;à discriminer et qu&#39;elle ne contribue pas à résoudre le problème. »</p><p style="margin-bottom: 15px;">“我觉得西方媒体又在炒作,尤其是有的美国和欧洲媒体,给人们造成了很大的恐慌,但是他们的报道并不符合事实,也不科学。新冠肺炎起源于武汉,但是它不是中国病毒。我认为这样的评论只会造成歧视,对解决问题毫无帮助。”</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Renaat Morel&nbsp;</p><p style="margin-bottom: 15px;">莫劳&nbsp;</p><p style="margin-bottom: 15px;">Belgique&nbsp;</p><p style="margin-bottom: 15px;">比利时</p><p style="margin-bottom: 15px;">« Quand j&#39;étais ici en 2003, j&#39;ai vu à plusieurs reprises ce que le gouvernement chinois était capable de faire, alors ils (les pays étrangers) feraient mieux de prendre l&#39;exemple de la Chine et de ne pas la critiquer. Je veux dire par là que nous sommes en plein Nouvel An chinois et tout le monde aiment être chez lui. Mais ils ont envoyé tous les médecins à Wuhan, ils ont construit un hôpital, tant de gens travaillent pendant cette période. En fait, seul le gouvernement chinois peut faire cela. »</p><p style="margin-bottom: 15px;">“2003年的时候,我就在北京见证了中国政府对抗SARS疫情的能力,我认为中国是最好的榜样。中国春节本是人们休假的时候,但很多医务人员被派往武汉,同时中国政府修建专门的医院,这一个月人们都没有停止过工作。实际上,只有中国政府才能做到这些。”</p><p style="margin-bottom: 15px;"><br/></p><p style="margin-bottom: 15px;">Présentateur :&nbsp;La Chine a pris toute une série de mesures qui donnent maintenant de bons résultats, comme l’a confirmé l’OMS. Tout ce qu’il faut, c’est attendre car les virus obéissent à des cycles. Maintenant, tous les étrangers en Chine font confiance à la Chine. Allez la Chine! Allez Wuhan !&nbsp;</p><p style="margin-bottom: 15px;">主持人：目前,中国采取的一系列果断有力的措施已经取得了效果,这一点也得到了世界卫生组织的肯定。现在唯一需要的就是时间。武汉加油!中国加油!</p><p><br/></p><!--/enpcontent--><!--enpproperty <articleid>75704120</articleid><date>2020-02-14 11:11:16:0</date><author></author><title>Vidéo : Oui, je reste en Chine !</title><keyword>coronavirus, Wuhan</keyword><subtitle></subtitle><introtitle>双语视频|我们留在中国挺好的!  ​</introtitle><siteid>1002</siteid><nodeid>2044929</nodeid><nodename>CHINE</nodename><nodesearchname>CHINE</nodesearchname><picurl>http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg</picurl><picbig>http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg</picbig><picmiddle>http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg</picmiddle><picsmall>http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg</picsmall><url>http://french.china.org.cn/china/txt/2020-02/14/content_75704120.htm</url><urlpad>null</urlpad><liability>Lisa</liability><sourcename>La Chine au Présent</sourcename><abstract>La Chine vit aujourd’hui un véritable drame collectif déclenché par la propagation du coronavirus. Beaucoup de monde se sont inquiétés de la sécurité des étrangers en Chine. Pour cela, nous les avons donc interviewés pour qu’ils partagent avec nous leurs expériences et leur sentiments dans cette époque spéciale.</abstract><channel>1</channel>/enpproperty-->
<div style="padding-top:10px;"><em>Suivez China.org.cn sur <a href="https://twitter.com/chinafrance" style="color:#336699"><strong>Twitter</strong></a> et <a href="https://www.facebook.com/ChinaorgcnFrench" style="color:#336699"><strong>Facebook</strong></a> pour rejoindre la conversation.</em></div>
</div>
</div>

<table width="900" border="0" cellpadding="0" cellspacing="2" style="margin: 0 auto; border-top: 1px solid #CCC; padding-top: 4px;">
<tr>
<td width="804" style="text-align: left;">Source:La Chine au Présent</td>
<td width="16" valign="top" style="padding-top:4px;"><a class="fb-share-button fb-share-button-18" href="javascript:void(window.open(&#39;https://www.facebook.com/sharer/sharer.php?u=&#39; + location.href, &#39;sharer&#39;, &#39;width=626,height=436,toolbar=0,status=0&#39;));"><img src="http://images.china.cn/images1/de/20120607nrg/leng2.jpg" border="0" /></a></td>
<td width="16" valign="top" style="padding-top:4px;"><a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600&#39;);return false;"><img src="http://images.china.cn/images1/de/20120607nrg/leng3.jpg" /></a> 

<script type="text/javascript">
    <!--
    window.___gcfg = { lang: 'en-US' };
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
    -->
    
</script>
</td>
<td width="16" valign="top" style="padding-top:4px;"><a rel="nofollow" class="fav_twitter" href="javascript:window.open(&#39;http://twitter.com/home?status=&#39;+encodeURIComponent(document.location.href)+&#39;&#160;&#39;+encodeURIComponent(document.title));void(0)"><img src="http://images.china.cn/images1/de/20120607nrg/leng4.jpg" border="0" /></a></td>
<td width="17" valign="top" style="padding-top:4px;"><a id="xn_share" name="xn_share" onclick="shareClick()" type="icon" href="javascript:;"></a> 

<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js">
</script>

 

<script type="text/javascript">
    <!--
    function shareClick() {
        var rrShareParam = {
            resourceUrl: '', // 分享的资源Url
            pic: '', // 分享的主题图片Url
            title: '', // 分享的标题
            description: '' // 分享的详细描述
        };
        rrShareOnclick(rrShareParam);
    }
    -->
    
</script>
</td>
</tr>
</table>
<div  class="leng" >
<br />
    
</div>

<a name="md" id="md"></a> 

<div style="width:960px; margin:0 auto; margin-top:10px;"><iframe id="content_top" name="content_top" src="http://french.china.org.cn/node_7164974.htm" width="962" height="480" border="0" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no"></iframe></div>

<div id="emMsg" style="display:none;">
<ul>
<li id="topic">Vidéo : Oui, je reste en Chine !</li>

<li id="abst">La Chine vit aujourd’hui un véritable drame collectif déclenché par la propagation du coronavirus. Beaucoup de monde se sont inquiétés de la sécurité des étrangers en Chine. Pour cela, nous les avons donc interviewés pour qu’ils partagent avec nous leurs expériences et leur sentiments dans cette époque spéciale.</li>
</ul>
</div>
</div>
</div>

<div style=" width:980px; margin:0 auto;"><iframe id="test" name="test" src="http://french.china.org.cn/node_7024041.htm" width="980" height="115" border="0" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no"></iframe></div>

<div id="phcnlinkpic" style="display: none;"><img src="http://images.china.cn/site1002/2020-02/14/40f46e30-31b8-499e-b0a0-c492ed191909.jpg" /></div>
<div id="rightNav" class="rightNav">
<p><a href="http://app.china.org.cn/"><img src="http://images.china.cn/images1/fra/2010first/20161027-01.jpg" width="50" height="50" id="appIos" /></a></p>

<p><img src="http://images.china.cn/images1/fra/2010first/20161027-02.jpg" width="50" height="50" id="appAndroid" /></p>

<p><a href="http://weibo.com/chinefrance" target="_blank"><img src="http://images.china.cn/images1/2015ico/i-3.jpg" width="50" height="50" /></a></p>

<p><a href="https://twitter.com/chinafrance" target="_blank"><img src="http://images.china.cn/images1/2015ico/i-4.jpg" width="50" height="50" /></a></p>

<p><a href="https://www.facebook.com/ChinaorgcnFrench" target="_blank"><img src="http://images.china.cn/images1/2015ico/i-5.jpg" width="50" height="50" /></a></p>

<p class="top"><img src="http://images.china.cn/images1/2015ico/i-6.jpg" width="50" height="50" /></p>
</div>

<div id="appIosBig" style="display:none; position:absolute;"><img src="http://images.china.cn/images1/fra/2010first/20161027-01-b.png" /></div>

<div id="appAndroidBig" style="display:none; position:absolute;"><img src="http://images.china.cn/images1/fra/2010first/20161027-02-b.png" /></div>

<script type="text/javascript">
<!--
(function($) {
    $('#appIos').on('mouseenter',function() {
        var offset = $(this).offset();
        $('#appIosBig').css({'left': offset.left - 170, 'top': offset.top - 50});
        $('#appIosBig').show();
    });
    $('#appIos').on('mouseleave',function() {
        $('#appIosBig').hide();
    });
    
    $('#appAndroid').on('mouseenter',function() {
        var offset = $(this).offset();
        $('#appAndroidBig').css({'left': offset.left - 170, 'top': offset.top - 50});
        $('#appAndroidBig').show();
    });
    $('#appAndroid').on('mouseleave',function() {
        $('#appAndroidBig').hide();
    });
})(jQuery);
-->
</script>

<script type="text/javascript">
<!--
(function($) {
    $('#rightNav .top').on('click',function() {
        window.scrollTo(0,0);
    });
	
	var fz = 14;
	
	$('#fzup').on('click',function(){
		fz += 1;
		$('.lenggg').css('font-size',fz+'px');
	});
	$('#fzdown').on('click',function(){
		fz -= 1;
		$('.lenggg').css('font-size',fz+'px');
	});
	
})(jQuery);
-->
</script>

<div id="webdig_source" style="display:none">La Chine au Présent</div>

<div style="display:none">
<script type="text/javascript">
<!--
document.write(unescape("%3Cscript src='http://cl2.webterren.com/webdig.js?z=12' type='text/javascript'%3E%3C/script%3E"));
-->
</script>

 

<script type="text/javascript">
<!--
wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
-->
</script>
</div>

<script type="text/javascript">
<!--
var v_width=480;var v_height=360;videoplay("videoarea");
-->
</script>

<script type="text/javascript">
<!--
function loadContent() {
  var nodeid = 0;
  var nsid = 0;
  try {
      nodeid = document.forms["myform"].nodeid.value;
      nsid = document.forms["myform"].nsid.value;
  }
  catch (e) {
  }
  var s = document.createElement("script");
  s.src = "http://comments.china.org.cn/comments/servlet/ViewPartialCommentServlet?nodeid=" + nodeid + "&nsid=" + nsid + "&fcount=150";
  document.body.appendChild(s);
}
loadContent();
-->
</script>

<script type="text/javascript">
<!--
  var kwurl='';
  spanValue = document.getElementById('kw').innerHTML;
  var kwarray =new Array();
  kwarray=spanValue.split(',');
  
  var output_buf = [];
  
  for (var i = 0, len = kwarray.length; i < len; i++) {
    output_buf.push('<a target="_blank" href="http://search2.china.com.cn/msearch/search.jsp?lg=fr&ck=' + encodeURIComponent(kwarray[i]) + '">' + kwarray[i] + '<\/a>');
  }
  
  document.getElementById('kw').innerHTML=output_buf.join(',');
-->
</script>

<script type="text/javascript">
<!--
    l_uu_client='zvfrench';
-->
</script>

<script type="text/javascript" src="http://log.china.cn/log.js">
</script>

<script type="text/javascript">
<!--
 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
-->
</script>

<script type="text/javascript">
<!--
 var pageTracker = _gat._getTracker("UA-226495-7"); pageTracker._trackPageview(); 
-->
</script>
</body>
</html>

