<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<title>我院学子在全国建设类院校施工技术应用技能大赛中再获佳绩-三峡大学土木与建筑学院</title><meta name="keywords" content="三峡大学土木与建筑学院,学院动态,我院,学子,全国,国建,建设,院校,施工,工技,技术,应用,技能,大赛,再获,佳绩">
<meta name="description" content="（通讯员 陈兴华）2019年10月31日至11月3日，第四届全国建设类院校施工技术应用技能大赛在西安举办。此次大赛由中国建设教育协会主办，陕西省住房和城乡建设厅指导，中国建设教育协会教育技术专业委员会、西安建筑科技大学、西安三好软件技术股份有限公司承办，西安市住房和城乡建设局、西安市教育局、西安市人力资源和社会保障局、碑林区人民政府协办，全国14家省级协会，11家施工企业支持，来自全国239高校的2187名师生参与此...">

		<link rel="stylesheet" href="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/style.css">
	<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/_sitegray_d.css">
<script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230747f465550515742000000024052 -->
<link rel="stylesheet" type="text/css" href="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/content.css">
<script type="text/javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/vsbscreen.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/counter.js"></script>
<script type="text/javascript">_jsq_(1016,'/content.jsp',5187,1565503397)</script>
<script language="javascript" type="text/javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/jquery_menu.js"></script></head>
	
	<body>
	<!--header-->
	<div id="header">
		<div class="jz">
		<div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="http://tmyjz.ctgu.edu.cn/index.htm" title="土木与建筑学院"><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/logo.png" alt="土木与建筑学院" title="土木与建筑学院" width="543" height="127" border="0"></a></div>
		<div class="by">    <script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/dynclicks.js"></script>


<img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/by.gif">     </div>
		<div class="ser">
			<script type="text/javascript">
    function _nl_ys_check(){
        
        var keyword = document.getElementById('showkeycode252197').value;
        if(keyword==null||keyword==""){
            alert("请输入你要检索的内容！");
            return false;
        }
        if(window.toFF==1)
        {
            document.getElementById("lucenenewssearchkey252197").value = Simplized(keyword );
        }else
        {
            document.getElementById("lucenenewssearchkey252197").value = keyword;            
        }
        var  base64 = new Base64();
        document.getElementById("lucenenewssearchkey252197").value = base64.encode(document.getElementById("lucenenewssearchkey252197").value);
        new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode252197"));
        return true;
    } 
</script>





<form class="search-form" action="../../search.jsp?wbtreeid=1016" method="post" id="au2a" name="au2a" onsubmit="return _nl_ys_check()" style="display: inline">
 <input type="hidden" id="lucenenewssearchkey252197" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype252197" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope252197" name="searchScope" value="0">


			 <input name="showkeycode" id="showkeycode252197" type="text" class="ss_k" onfocus="if(this.value=='请输入关键字'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键字';}" value="请输入关键字">
			  <input name="" type="image" value="" class="ss_an" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/ser.png">
			 </form>	<script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/base64.js"></script><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/formfunc.js"></script>

		</div>	
		</div>
	</div>
	<!--nav-->
	<div id="nav">
	<div class="w">    
	 <div class="navBox">	
    



  <ul id="mainNav" class="mainNav">
   
            	<li class="li1 first1 on1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/index.htm">首页</a></h4>
      	 </li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/xygk/xyjj.htm">学院概况</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xygk/xyjj.htm">学院简介</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xygk/xrld.htm">现任领导</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xygk/zzjg.htm">组织机构</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xygk/fzgh.htm">发展规划</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/szdw1/jcrc.htm">师资队伍</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/szdw1/jcrc.htm">杰出人才</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/szdw1/jsml.htm">教师名录</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/szdw1/rczp.htm">人才招聘</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/szdw1/bshkyldz.htm">博士后科研流动站</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/xkjs1/xksz.htm">学科建设</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xkjs1/xksz.htm">学科设置</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xkjs1/zdxk.htm">重点学科</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xkjs1/xkfx.htm">学科方向</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/rcpy1/bksjy1/jxyj.htm">人才培养</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/rcpy1/bksjy1/jxyj.htm">本科生教育</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/rcpy1/yjsjy1/xwdjs.htm">研究生教育</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/rcpy1/lxsjy.htm">留学生教育</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/kxyj1/xsdt.htm">科学研究</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/kxyj1/xsdt.htm">学术动态</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/kxyj1/xmsb.htm">项目申报</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/kxyj1/kycg.htm">科研成果</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/kxyj1/kjzc.htm">科技政策</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/kxyj1/shfw.htm">社会服务</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/jdpt1/gjjkypt.htm">基地平台</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/jdpt1/gjjkypt.htm">国家级科研平台</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/jdpt1/sbjkypt.htm">省部级科研平台</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/jdpt1/tjjkypt.htm">厅局级科研平台</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/jdpt1/xjkypt.htm">校级科研平台</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/dqgz1/djdt.htm">党群工作</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dqgz1/djdt.htm">党建动态</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dqgz1/ghzc.htm">工会之窗</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dqgz1/wsdx.htm">网上党校</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dqgz1/xygw.htm">学院公文</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/xs/tzgg.htm">学生工作</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/tzgg.htm">通知公告</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/mtbd.htm">媒体报道</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/gzzd.htm">规章制度</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/xszj.htm">学生之家</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/xgry.htm">学工荣誉</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/jdzq.htm">奖贷助勤</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/zsjy.htm">招生就业</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/twxsh.htm">团委学生会</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/kcyd.htm">科创园地</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/xzzq.htm">下载专区</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/xs/xggk.htm">学工概况</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/dwjl1/jldt.htm">对外交流</a></h4>
      	    <ul class="ul1">
		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dwjl1/jldt.htm">交流动态</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dwjl1/xsjl.htm">学生交流</a></h4></li>

		        <li class="li2 first2"><h4 class="h2"><a target="_blank" class="a2" href="http://tmyjz.ctgu.edu.cn/dwjl1/jsjl.htm">教师交流</a></h4></li>
            </ul>
</li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjz.ctgu.edu.cn/gzzd.htm">规章制度</a></h4>
      	 </li>
      	<li class="li1 hasUl1"><h4 class="h1"><a target="_self" class="a1" href="http://tmyjze.ctgu.edu.cn/">ENGLISH</a></h4>
      	 </li>
</ul>
			<script type="text/javascript">
			jQuery(function($){
				var navST;
				var name='mainNav';
				var t=200;
				var type='1';
				var removeOn='false';
				var effect='slide';
				var appendItem = '#';
				var li="#"+name+" li";

				if( !$("#"+name+" .li1").hasClass("on1") ){ $("#"+name+" .li1").first().addClass("on1"); } //默认第一个加.on1类
				if(type=='1'){ li="#"+name+" .li1"; }
				if( appendItem!='#'){ //插入内容
				var appendHtml = $(appendItem).html();  $(li).first().append( appendHtml );  $(appendItem).remove(); }

				if(type=='3'){ $("#"+name+" .on1").find("ul").first().show(); }

				$(li).hover(function(){
					var curItem = $(this);
					var onNum = (curItem.attr("class").split(" "))[0].replace("li","");
					$(li).removeClass("on"+onNum); curItem.addClass("on"+onNum);
					navST = setTimeout(function(){//延时触发
					
					if( $("ul:first",curItem).css("display") !="block" ){ $(li+" .ul"+onNum).hide(); 
						if( effect=='fade') $("ul:first",curItem).fadeIn(t);
						else $("ul:first",curItem).slideDown(t);
					};
					navST = null;
					},t);
				}, function(){
					if(navST!=null)clearTimeout(navST);
					if(type=='1' || type=='2'){ 
						if( effect=='fade') $(this).find("ul").first().fadeOut(t); 
						else $(this).find("ul").first().slideUp(t); 
					}
					if (removeOn=='true') {  $(this).removeClass("on1"); }
					},t); //end hover
			});
			</script> 	
      </div>
    </div>	
<!----->
	</div>
	<!--中间-->
 <div class="ej_banner">
      	<li cla="" <="" div="">
    <div id="er_conter">
      	<!--二级页面 left-->
    	<div class="er_left">
    		<div class="er_left_nav">



土木与建筑学院</div>
    		<div class="er_left_font">
    			<ul>
    				

<li><a href="http://tmyjz.ctgu.edu.cn/xwdt/xydt.htm" title="学院动态">学院动态</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/xwdt/tzgg.htm" title="通知公告">通知公告</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/xwdt/jxdt.htm" title="教学动态">教学动态</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/xwdt/xgdt.htm" title="学工动态">学工动态</a></li>

    			  </ul>
    			  <div class="clear"></div>
    		</div>
    		
    	</div>
    	<!--二级页面 right-->
    	<div class="er_right">
    		<div class="er_right_nav"><span>当前位置：        
                <a href="http://tmyjz.ctgu.edu.cn/index.htm" style="color:black">首页</a>

                &gt;&gt;
                <a href="http://tmyjz.ctgu.edu.cn/xwdt/xydt.htm" style="color:black">新闻动态</a>

                &gt;&gt;
                <a href="http://tmyjz.ctgu.edu.cn/xwdt/xydt.htm" style="color:black">学院动态</a>

                &gt;&gt;
                正文
</span><h1>



学院动态</h1></div>
    	
<script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/NewsvoteDWR.js"></script><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/engine.js"></script><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/newscontent.js"></script><link href="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/klass.js"></script><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/ajax.js"></script><form name="_newscontent_fromname"><script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/jquery-latest.js"></script>
<div class="er_right_xnew">
         <h1>我院学子在全国建设类院校施工技术应用技能大赛中再获佳绩</h1>
    		<div class="er_right_xnew_date">发布人：  时间：2019-11-05   点击量 : <script>_showDynClicks("wbnews", 1565503397, 5187)</script><span id="dynclicks_wbnews_5187_707" name="dynclicks_wbnews_5187_707">140</span></div>
    		<p> 
    </p><div id="vsb_content"><div class="v_news_content">
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px" lang="EN-US">（通讯员 陈兴华）2019</span><span style="font-family: 宋体;background: white;color: black;font-size: 19px">年<span lang="EN-US">10</span>月<span lang="EN-US">31</span>日至<span lang="EN-US">11</span>月<span lang="EN-US">3</span>日，
第四届全国建设类院校施工技术应用技能大赛在西安举办。此次大赛由中国建设教育协会主办，陕西省住房和城乡建设厅指导，中国建设教育协会教育技术专业委员
会、西安建筑科技大学、西安三好软件技术股份有限公司承办，西安市住房和城乡建设局、西安市教育局、西安市人力资源和社会保障局、碑林区人民政府协办，全
国<span lang="EN-US">14</span>家省级协会，<span lang="EN-US">11</span>家施工企业支持，来自全国<span lang="EN-US">239</span>高校的<span lang="EN-US">2187</span>名师生参与此次大赛。</span></p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px"><span lang="EN-US">
   <!--?xml:namespace prefix="o" /-->
   <o:p>
    <img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/26B0EF99BD203CAAA2A3458BC14_E6255113_FA9C6.png" vsbhref="vurl" orisrc="/__local/E/C5/66/26B0EF99BD203CAAA2A3458BC14_E6255113_FA9C6.png" vurl="/_vsl/EC56626B0EF99BD203CAAA2A3458BC14/E6255113/FA9C6" vheight="" vwidth="600" class="img_vsb_content" width="600">
   </o:p></span></span></p> 
   <p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial">
     <span style="font-family: 宋体;background: white;color: black;font-size: 19px">我院组织两组中国学生和两组留学生共<span lang="EN-US">12</span>人参加本次大赛，由雷进生教授、王乾峰和陈兴华三位老师指导。经过激烈角逐，两组中国学生均荣获团体一等奖，来自土木工程专业的曾成、丰光正、王子明、王钰成和申晶<span lang="EN-US">5</span>名同学荣获个人二等奖，周炳昊同学荣获个人三等奖。留学生组在面临竞赛语言为中文，存在交流困难的情况下，与中国学生同台竞技，最终两组均荣获团体三等奖，

   <%if @people && @people.length > 0%>
     <%@people.each_with_index do |p,i|%>
       <span lang="EN-US"><%=p.name.upcase%></span>
     <%if (@people.length - 1) < i%>、<%else%>和<%end%>
     <%end%>
   <%else%>
     <span lang="EN-US">AYMAN CHERIFI</span>、<span lang="EN-US">NDJAWOWOLO BERNADIN WOLA</span>、<span lang="EN-US">THOMAS MALIDADI</span>和<span lang="EN-US">ELTON M’HONE</span>

 <%end%>
     四名留学生荣获个人三等奖。学院留学生首次代表我校参加国家级竞赛并获奖，该项赛事首次有留学生参加，在比赛期间更成为全场关注的热点，并得到各大媒体的重点聚焦，赛事期间留学生和指导老师多次接受了<span lang="EN-US">CCTV7</span>的采访。</span>


   </p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px"><span lang="EN-US">
   <o:p></o:p></span></span></p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px"><span lang="EN-US">
   <o:p></o:p></span></span></p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px">
  <img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/1CAADDE258491DAB12143BE541D_C25235F3_18906.png" vsbhref="vurl" orisrc="/__local/F/AF/94/4E58E1F4D57FEEC8D0463FB59CF_2114F8FC_1150EA.png" vurl="/_vsl/E48981CAADDE258491DAB12143BE541D/C25235F3/18906" vheight="" vwidth="600" class="img_vsb_content" width="600"></span></p> 

<%if @myphotos.length > 0%>
  <%@myphotos.each do |myphoto|%>
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px"></span>&nbsp;</p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px">
  <img src="<%=myphoto%>" vsbhref="vurl" orisrc="/__local/A/BF/D0/CE51837C4F22ECD6C2E60492434_B266D87D_DADE9.png" vurl="/_vsl/ABFD0CE51837C4F22ECD6C2E60492434/B266D87D/DADE9" vheight="" vwidth="600" class="img_vsb_content" width="600"></span></p> 
<%end%>
<%else%>
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px"></span>&nbsp;</p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px">
  <img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/CE51837C4F22ECD6C2E60492434_B266D87D_DADE9.png" vsbhref="vurl" orisrc="/__local/A/BF/D0/CE51837C4F22ECD6C2E60492434_B266D87D_DADE9.png" vurl="/_vsl/ABFD0CE51837C4F22ECD6C2E60492434/B266D87D/DADE9" vheight="" vwidth="600" class="img_vsb_content" width="600"></span></p> 
<%end%>
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px">本
届大赛分建筑工程专业知识问答、装配式建筑实操、建筑工程模拟实操三项竞赛项目。题库建设邀请了施工行业专业技术人员参与试题的设计，内容丰富，并更趋于
专业性、实践性。大赛对施工现场管理、施工工艺技能掌握等管理能力进行综合检验，旨在考察学生的建筑理论、实际操作能力，检验学生的团队合作、施工技术应
用技能。参赛学生秉承“求索”校训，利用暑假和课余时间认真准备，勤奋学习，充分发挥团队协作能力，在众多参赛学生中脱颖而出，最终取得了优异成绩。</span></p> 
<p class="MsoNormal" style="text-align: left;padding-bottom: 0px;line-height: 37px;widows: 2;text-transform: none;background-color: #ffffff;font-style: normal;text-indent: 37px;margin: 0cm 0cm 0px;padding-left: 0px;padding-right: 0px;font-family: 宋体;orphans: 2;letter-spacing: normal;color: #333333;font-size: 15px;font-weight: 400;word-spacing: 0px;padding-top: 0px;font-variant-ligatures: normal;font-variant-caps: normal;-webkit-text-stroke-width: 0px;text-decoration-style: initial;text-decoration-color: initial"><span style="font-family: 宋体;background: white;color: black;font-size: 19px">我院郭永成副教授、雷进生教授先后被增选为全国建设类院校施工技术应用技能大赛专家委员会委员。本次比赛期间，雷进生教授作为特邀嘉宾在全国建设类院校教育技术创新发展交流会上分享了我院虚拟仿真技术的入课形式及教学应用实践。</span></p>
</div></div><div id="div_vote_id"></div>
    
            <p></p>
    		</div></form>


    	</div>
    	<div class="clear"></div>
    </div>

	<!--底部-->
	<div id="footer">
		<div class="fot">
			<div style="width:1390px;margin:0 auto">
			<!---->
			<div class="fot_left">
				<ul>
				    <li><a href="http://tmyjz.ctgu.edu.cn/hnyc.htm" title="海纳英才" onclick='_addDynClicks("wbimage", 1565503397, 54138)' target="_blank"><font><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/tub01.png"></font>海纳英才</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/zygx.htm" title="资源共享" onclick='_addDynClicks("wbimage", 1565503397, 54139)' target="_blank"><font><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/tub02.png"></font>资源共享</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/img/tub06.png" title="校友之家" onclick='_addDynClicks("wbimage", 1565503397, 54151)' target="_blank"><font><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/tub06.png"></font>校友之家</a></li>
<li><a href="http://tmyjz.ctgu.edu.cn/xxzl.htm" title="学习专栏" onclick='_addDynClicks("wbimage", 1565503397, 54140)' target="_blank"><font><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/tub03.png"></font>学习专栏</a></li>
<li><a href="http://ctgusoft.com:8080/ctgu" title="考勤管理系统" onclick='_addDynClicks("wbimage", 1565503397, 54141)' target="_blank"><font><img src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/tub04.png"></font>考勤管理系统</a></li>

			    </ul>
			</div>
		
			<!--快速导航-->
			<div class="fot_mid">
				<div class="fot_mid_nav">快速导航</div>
				<div class="fot_mid_font">
					<ul>
					<script language="javascript" src="/assets/%E6%88%91%E9%99%A2%E5%AD%A6%E5%AD%90%E5%9C%A8%E5%85%A8%E5%9B%BD%E5%BB%BA%E8%AE%BE%E7%B1%BB%E9%99%A2%E6%A0%A1%E6%96%BD%E5%B7%A5%E6%8A%80%E6%9C%AF%E5%BA%94%E7%94%A8%E6%8A%80%E8%83%BD%E5%A4%A7%E8%B5%9B%E4%B8%AD%E5%86%8D%E8%8E%B7%E4%BD%B3%E7%BB%A9-%E4%B8%89%E5%B3%A1%E5%A4%A7%E5%AD%A6%E5%9C%9F%E6%9C%A8%E4%B8%8E%E5%BB%BA%E7%AD%91%E5%AD%A6%E9%99%A2.html_fichiers/openlink.js"></script>
	<li><a href="http://tmyjz.ctgu.edu.cn/xygk/fzgh.htm" title="" onclick='_addDynClicks("wburl", 1565503397, 59091)'>联系我们</a></li>
	<li><a href="http://www.ctgu.edu.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 59092)'>三峡大学</a></li>
	<li><a href="http://newtgls.ctgu.edu.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 59093)'>湖北长江三峡滑坡国家野外科学观测研究站</a></li>
	<li><a href="http://geoh.ctgu.edu.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61914)'>三峡库区地质灾害教育部重点实验室</a></li>
	<li><a href="http://cicge.ctgu.edu.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61915)'>三峡地区地质灾害与生态环境协同创新中心</a></li>
	<li><a href="http://dpm.ctgu.edu.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61916)'>防灾减灾湖北省重点实验室</a></li>

					</ul>
				</div>
			</div>
			<!--友情链接-->
			<div class="fot_right">
				<div class="fot_right_nav">友情链接</div>
				<div class="fot_right_font">
					<ul>
						<li><a href="http://www.nsfc.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61917)'>国家自然科学基金委员会</a></li>
	<li><a href="http://www.moe.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61918)'>国家教育部</a></li>
	<li><a href="http://www.most.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61919)'>国家科技部</a></li>
	<li><a href="http://www.mwr.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61920)'>国家水利部</a></li>
	<li><a href="http://www.mnr.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61921)'>自然资源部</a></li>
	<li><a href="http://www.mohurd.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61922)'>国家住建部</a></li>
	<li><a href="http://jyt.hubei.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61923)'>湖北省教育厅</a></li>
	<li><a href="http://www.hbstd.gov.cn/" title="" onclick='_addDynClicks("wburl", 1565503397, 61924)'>湖北省科技厅</a></li>

					</ul>
				</div>
			</div>
<div class="xinx" style="float: right;border-left: 1px solid #a3c7e5;padding-left: 35px;margin-right: -40px;height: 190px"><a title="" href="http://tmyjz.ctgu.edu.cn/info/1164/6621.htm" onclick='_addDynClicks("wburl", 1565503397, 61935)' style="    color: #fff;">书记信箱</a> 
<a title="" href="http://tmyjz.ctgu.edu.cn/info/1164/6621.htm" onclick='_addDynClicks("wburl", 1565503397, 61934)' style="    color: #fff;">院长信箱</a> 
</div>
			<div class="clear"></div>
			<!--友情链接 end-->
				</div>
		</div>
		<!--版权-->
		<div class="bq">
			<div class="bq_font"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>版权所有：Copyright 2014 三峡大学土木与建筑学院 &nbsp; &nbsp;学院地址：宜昌市大学路8号 邮 编：443002&nbsp;&nbsp;联系电话：0717-6392634（院办）传 真：0717-6392634</p> 
 </div>
		</div>
	</div>
	

</li></div></body></html>
