<div class="yCmsContentSlot productDetailsPageSectionCrossSelling">
<div class="yCmsComponent productDetailsPageSectionCrossSelling-component">
<div class="carousel-component sap-carousel sap-reco-initialized" id="reco355" data-prodcode="<%=@item.code%>" data-componentid="items-viewed-together" data-base-url="/fr" data-smartedit-component-type="CMSSAPRecommendationComponent" data-smartedit-component-id="items-viewed-together">

<div class=" component component--wrap-normal component--space-normal component--product-carousel" id="items-viewed-together">
			<div class="carousel__component product-carousel">
				<div class="product-carousel__wrap">
					<h2 id="div233" class="product-carousel__heading heading heading--h4 heading--reduced-space">Découvre aussi</h2>
					<div id="prodRecoULreco355" class="carousel__component--carousel js-owl-carousel js-owl-default owl-carousel owl-loaded owl-drag" data-controls="{&quot;controlsPrev&quot;: text.previous.button, &quot;controlsNext&quot;: text.next.button}">
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						<div class="owl-wrapper-outer"><div class="owl-wrapper" style="transform: translate3d(-2240px, 0px, 0px); transition: all 0s ease 0s; width: 8960px;"><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133867877" data-name="Jean coupe droite à ourlets déchirés" data-category="Jeans femme" data-brand="08018-08018026" data-price="18.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="8" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133867877" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-coupe-droite-a-ourlets-dechires/p/133867877">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean coupe droite à ourlets déchirés" title="Jean coupe droite à ourlets déchirés">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean coupe droite à ourlets déchirés</p>
								<div class="product-item__price">€ 18,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133461275" data-name="Jean mom très déchiré à délavage bleu" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="9" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133461275" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-mom-tres-dechire-a-delavage-bleu/p/133461275">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean mom très déchiré à délavage bleu" title="Jean mom très déchiré à délavage bleu">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean mom très déchiré à délavage bleu</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133868586" data-name="Robe noire tendance en jean à manches longues" data-category="Robes" data-brand="08018-08018050" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="10" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133868586" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/robes/robe-noire-tendance-en-jean-a-manches-longues/p/133868586">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Robe noire tendance en jean à manches longues" title="Robe noire tendance en jean à manches longues">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Robe noire tendance en jean à manches longues</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133880169" data-name="Jean court beige évasé" data-category="Jeans femme" data-brand="08018-08018026" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="11" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133880169" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-court-beige-evase/p/133880169">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean court beige évasé" title="Jean court beige évasé">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean court beige évasé</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="134381407" data-name="Vanity argenté métallisé extra large" data-category="Sacs à main femme" data-brand="01007-01007004" data-price="8.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="12" data-prodreco-item="prodRecoItem" data-prodreco-item-code="134381407" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/sacs-a-main-femme/vanity-argente-metallise-extra-large/p/134381407">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Vanity argenté métallisé extra large" title="Vanity argenté métallisé extra large">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Vanity argenté métallisé extra large</p>
								<div class="product-item__price">€ 8,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133582989" data-name="Sweat à capuche pêche zippé uni" data-category="Tenues de sport femme" data-brand="08014-08014017" data-price="8.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="13" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133582989" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/tenues-de-sport-femme/sweat-a-capuche-peche-zippe-uni/p/133582989">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Sweat à capuche pêche zippé uni" title="Sweat à capuche pêche zippé uni">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Sweat à capuche pêche zippé uni</p>
								<div class="product-item__price">€ 8,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133594471" data-name="Soutien-gorge bustier noir push-up en dentelle" data-category="Dessous assortis" data-brand="04005-04005004" data-price="10.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="14" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133594471" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/lingerie-et-sous-vetements/dessous-assortis/soutien-gorge-bustier-noir-push-up-en-dentelle/p/133594471">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Soutien-gorge bustier noir push-up en dentelle" title="Soutien-gorge bustier noir push-up en dentelle">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Soutien-gorge bustier noir push-up en dentelle</p>
								<div class="product-item__price">€ 10,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="131456863" data-name="Robe blanche en crochet" data-category="Maillots de bain et bikinis" data-brand="08042-08042006" data-price="16.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="15" data-prodreco-item="prodRecoItem" data-prodreco-item-code="131456863" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/maillots-de-bain-et-bikinis/robe-blanche-en-crochet/p/131456863">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Robe blanche en crochet" title="Robe blanche en crochet">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Robe blanche en crochet</p>
								<div class="product-item__price">€ 16,00</div>
							</div></div><div class="owl-item active" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132844448" data-name="Jean skinny bleu avec chevilles déchirées" data-category="Jeans skinny femme" data-brand="08018-08018020" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="0" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132844448" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jeans-skinny-femme/jean-skinny-bleu-avec-chevilles-dechirees/p/132844448">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu avec chevilles déchirées" title="Jean skinny bleu avec chevilles déchirées">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu avec chevilles déchirées</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item active" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133883296" data-name="Jean skinny bleu à ourlet brut" data-category="Jeans femme" data-brand="08018-08018020" data-price="15.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="1" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133883296" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-bleu-a-ourlet-brut/p/133883296">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu à ourlet brut" title="Jean skinny bleu à ourlet brut">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu à ourlet brut</p>
								<div class="product-item__price">€ 15,00</div>
							</div></div><div class="owl-item active" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133894335" data-name="Jean large bleu délavé esprit années 90" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="2" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133894335" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-large-bleu-delave-esprit-annees-90/p/133894335">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean large bleu délavé esprit années 90" title="Jean large bleu délavé esprit années 90">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean large bleu délavé esprit années 90</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item active" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133436111" data-name="Jean mom noir coupe slim déchiré" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="3" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133436111" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-mom-noir-coupe-slim-dechire/p/133436111">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean mom noir coupe slim déchiré" title="Jean mom noir coupe slim déchiré">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean mom noir coupe slim déchiré</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132375229" data-name="Jean skinny bleu effet usé à taille haute longueur chevilles" data-category="Jeans femme" data-brand="08018-08018020" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="4" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132375229" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-bleu-effet-use-a-taille-haute-longueur-chevilles/p/132375229">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu effet usé à taille haute longueur chevilles" title="Jean skinny bleu effet usé à taille haute longueur chevilles">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu effet usé à taille haute longueur chevilles</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132975408" data-name="Jean skinny noir Ultimate Premium" data-category="Jeans femme" data-brand="08018-08018020" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="5" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132975408" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-noir-ultimate-premium/p/132975408">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny noir Ultimate Premium" title="Jean skinny noir Ultimate Premium">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny noir Ultimate Premium</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132879675" data-name="Jean skinny noir enduit" data-category="Jeans femme" data-brand="08018-08018029" data-price="15.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="6" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132879675" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-noir-enduit/p/132879675">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny noir enduit" title="Jean skinny noir enduit">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny noir enduit</p>
								<div class="product-item__price">€ 15,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133834067" data-name="Legging noir côtelé" data-category="Pantalons et leggings femme" data-brand="08016-08016043" data-price="9.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="7" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133834067" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pantalons-et-leggings-femme/legging-noir-cotele/p/133834067">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Legging noir côtelé" title="Legging noir côtelé">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Legging noir côtelé</p>
								<div class="product-item__price">€ 9,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133867877" data-name="Jean coupe droite à ourlets déchirés" data-category="Jeans femme" data-brand="08018-08018026" data-price="18.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="8" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133867877" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-coupe-droite-a-ourlets-dechires/p/133867877">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133867877_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean coupe droite à ourlets déchirés" title="Jean coupe droite à ourlets déchirés">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean coupe droite à ourlets déchirés</p>
								<div class="product-item__price">€ 18,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133461275" data-name="Jean mom très déchiré à délavage bleu" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="9" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133461275" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-mom-tres-dechire-a-delavage-bleu/p/133461275">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133461275_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean mom très déchiré à délavage bleu" title="Jean mom très déchiré à délavage bleu">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean mom très déchiré à délavage bleu</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133868586" data-name="Robe noire tendance en jean à manches longues" data-category="Robes" data-brand="08018-08018050" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="10" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133868586" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/robes/robe-noire-tendance-en-jean-a-manches-longues/p/133868586">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133868586_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Robe noire tendance en jean à manches longues" title="Robe noire tendance en jean à manches longues">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Robe noire tendance en jean à manches longues</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133880169" data-name="Jean court beige évasé" data-category="Jeans femme" data-brand="08018-08018026" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="11" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133880169" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-court-beige-evase/p/133880169">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133880169_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean court beige évasé" title="Jean court beige évasé">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean court beige évasé</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="134381407" data-name="Vanity argenté métallisé extra large" data-category="Sacs à main femme" data-brand="01007-01007004" data-price="8.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="12" data-prodreco-item="prodRecoItem" data-prodreco-item-code="134381407" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/sacs-a-main-femme/vanity-argente-metallise-extra-large/p/134381407">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/134381407_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Vanity argenté métallisé extra large" title="Vanity argenté métallisé extra large">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Vanity argenté métallisé extra large</p>
								<div class="product-item__price">€ 8,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133582989" data-name="Sweat à capuche pêche zippé uni" data-category="Tenues de sport femme" data-brand="08014-08014017" data-price="8.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="13" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133582989" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/tenues-de-sport-femme/sweat-a-capuche-peche-zippe-uni/p/133582989">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133582989_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Sweat à capuche pêche zippé uni" title="Sweat à capuche pêche zippé uni">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Sweat à capuche pêche zippé uni</p>
								<div class="product-item__price">€ 8,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133594471" data-name="Soutien-gorge bustier noir push-up en dentelle" data-category="Dessous assortis" data-brand="04005-04005004" data-price="10.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="14" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133594471" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/lingerie-et-sous-vetements/dessous-assortis/soutien-gorge-bustier-noir-push-up-en-dentelle/p/133594471">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133594471_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Soutien-gorge bustier noir push-up en dentelle" title="Soutien-gorge bustier noir push-up en dentelle">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Soutien-gorge bustier noir push-up en dentelle</p>
								<div class="product-item__price">€ 10,00</div>
							</div></div><div class="owl-item" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="131456863" data-name="Robe blanche en crochet" data-category="Maillots de bain et bikinis" data-brand="08042-08042006" data-price="16.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="15" data-prodreco-item="prodRecoItem" data-prodreco-item-code="131456863" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/maillots-de-bain-et-bikinis/robe-blanche-en-crochet/p/131456863">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/131456863_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Robe blanche en crochet" title="Robe blanche en crochet">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Robe blanche en crochet</p>
								<div class="product-item__price">€ 16,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132844448" data-name="Jean skinny bleu avec chevilles déchirées" data-category="Jeans skinny femme" data-brand="08018-08018020" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="0" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132844448" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jeans-skinny-femme/jean-skinny-bleu-avec-chevilles-dechirees/p/132844448">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132844448_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu avec chevilles déchirées" title="Jean skinny bleu avec chevilles déchirées">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu avec chevilles déchirées</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133883296" data-name="Jean skinny bleu à ourlet brut" data-category="Jeans femme" data-brand="08018-08018020" data-price="15.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="1" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133883296" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-bleu-a-ourlet-brut/p/133883296">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133883296_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu à ourlet brut" title="Jean skinny bleu à ourlet brut">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu à ourlet brut</p>
								<div class="product-item__price">€ 15,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133894335" data-name="Jean large bleu délavé esprit années 90" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="2" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133894335" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-large-bleu-delave-esprit-annees-90/p/133894335">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133894335_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean large bleu délavé esprit années 90" title="Jean large bleu délavé esprit années 90">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean large bleu délavé esprit années 90</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133436111" data-name="Jean mom noir coupe slim déchiré" data-category="Jeans femme" data-brand="08018-08018026" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="3" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133436111" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-mom-noir-coupe-slim-dechire/p/133436111">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133436111_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean mom noir coupe slim déchiré" title="Jean mom noir coupe slim déchiré">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean mom noir coupe slim déchiré</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132375229" data-name="Jean skinny bleu effet usé à taille haute longueur chevilles" data-category="Jeans femme" data-brand="08018-08018020" data-price="17.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="4" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132375229" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-bleu-effet-use-a-taille-haute-longueur-chevilles/p/132375229">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132375229_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny bleu effet usé à taille haute longueur chevilles" title="Jean skinny bleu effet usé à taille haute longueur chevilles">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny bleu effet usé à taille haute longueur chevilles</p>
								<div class="product-item__price">€ 17,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132975408" data-name="Jean skinny noir Ultimate Premium" data-category="Jeans femme" data-brand="08018-08018020" data-price="19.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="5" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132975408" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-noir-ultimate-premium/p/132975408">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132975408_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny noir Ultimate Premium" title="Jean skinny noir Ultimate Premium">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny noir Ultimate Premium</p>
								<div class="product-item__price">€ 19,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="132879675" data-name="Jean skinny noir enduit" data-category="Jeans femme" data-brand="08018-08018029" data-price="15.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="6" data-prodreco-item="prodRecoItem" data-prodreco-item-code="132879675" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/jean-skinny-noir-enduit/p/132879675">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/132879675_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Jean skinny noir enduit" title="Jean skinny noir enduit">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Jean skinny noir enduit</p>
								<div class="product-item__price">€ 15,00</div>
							</div></div><div class="owl-item cloned" style="width: 280px;"><div class="product-item product-reco-impression-item" data-code="133834067" data-name="Legging noir côtelé" data-category="Pantalons et leggings femme" data-brand="08016-08016043" data-price="9.0" data-currency="EUR" data-list="Carousel: Découvre aussi" data-index="7" data-prodreco-item="prodRecoItem" data-prodreco-item-code="133834067" data-prodreco-item-component-id="items-viewed-together">
								<a class="product-item__image" href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pantalons-et-leggings-femme/legging-noir-cotele/p/133834067">
                                    <span class="image image--product image--pad image--hover-effect">
                                        <picture>
					<source srcset="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=webp" type="image/webp">
					<source srcset="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" type="image/jpeg">
					<img src="https://primedia.primark.com/s/primark/133834067_ms?locale=fr-*,en-*,*&amp;$product$" loading="lazy" alt="Legging noir côtelé" title="Legging noir côtelé">
				</picture>
			</span>
								</a>

								<span class="product-item__badge-group">
	</span>


<p class="product-item__name">Legging noir côtelé</p>
								<div class="product-item__price">€ 9,00</div>
							</div></div></div></div><div class="owl-controls"><button type="button" role="presentation" class="owl-prev"><i class="icon icon--prev-thin"></i><span class="reader-only">undefined</span></button><button type="button" role="presentation" class="owl-next"><i class="icon icon--next-thin"></i><span class="reader-only">undefined</span></button></div><div class="owl-dots disabled"></div></div>
				</div>
			</div>
		</div>
	</div></div></div>
