		<nav class="mega-nav js-mega-nav" data-mega-nav='{"showPanelItemClass": "mega-nav__item--show-panel"}'>
			<ul class="mega-nav__list js-mega-nav-list" role="menubar" aria-controls="menu">

			<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/c/womens">Femme</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar two_columns" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/nouveautes-mode-femme/c/womens-newarrival">Nouveautés</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/c/womens-clothing">Afficher tous les vêtements</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/robes/c/womens-dresses">Robes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jeans-femme/c/womens-jeans">Jeans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/hauts-femme/c/womens-tops">Hauts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/manteaux-et-vestes-femme/c/womens-coats-jackets">Manteaux et vestes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pulls-femme/vestes-a-capuche-femme/c/womens-jumpers-sweaters-hoodies">Sweats à capuche</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pulls-femme/c/womens-jumpers-sweaters">Pulls et sweat-shirts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/t-shirts-femme/c/womens-t-shirt">T-shirts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/shorts-femme/c/womens-shorts">Shorts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/jupes-jupes-mi-longues-et-plissees/c/womens-skirts">Jupes</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pantalons-et-leggings-femme/c/womens-trousers-bottoms">Pantalons et leggings</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/lingerie-et-sous-vetements/c/womens-lingerie-underwear">Lingerie et sous-vêtements</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/chaussettes-femme/c/womens-socks-tights">Chaussettes et collants</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/pyjamas-femme/c/womens-pyjamas">Pyjamas</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/tenues-de-travail-femme/c/womens-workwear">Vêtements de bureau</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/tenues-de-sport-femme/c/womens-women-sport">Sport femme</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/mode-femme/maillots-de-bain-et-bikinis/c/womens-swimwear-beachwear">Maillots de bain et vêtements de plage</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Accessoires</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/c/womens-accessories">Afficher tous les accessoires</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/sacs-a-main-femme/c/womens-bags-purses">Sacs et porte-monnaie</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/accessoires-pour-cheveux-bandeaux-nuds-et-chouchous/c/womens-accessories-hair-accessories">Accessoires cheveux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/ceintures-femme/c/womens-accessories-belts">Ceintures</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/chapeaux-echarpes-et-gants-femme/c/womens-hats-gloves-scarves">Chapeaux, gants et écharpes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/lunettes-de-soleil-femme/c/womens-accessories-sunglasses">Lunettes de soleil</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/portes-cles-femme/c/womens-accessories-key-rings">Porte-clés</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/colliers-boucles-doreilles-et-bagues/c/womens-jewellery">Bijoux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/colliers-boucles-doreilles-et-bagues/bracelets/c/womens-jewellery-bracelet">Bracelets</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/colliers-boucles-doreilles-et-bagues/boucles-doreilles/c/womens-jewellery-earring">Boucles d&#39;oreilles</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/colliers-boucles-doreilles-et-bagues/colliers/c/womens-jewellery-necklace">Colliers</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/accessoires-femme/colliers-boucles-doreilles-et-bagues/bagues/c/womens-jewellery-ring">Anneaux</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Chaussures et bottes</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/bottes-femme/c/womens-shoes-boots-boots">Bottes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/chaussures-a-talon-et-compensees/c/womens-shoes-boots-heels">Chaussures à talons</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/c/womens-shoes-boots">Afficher toutes les chaussures et bottes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/sandales-tongs-et-claquettes-femme/c/womens-shoes-boots-sandals">Sandales</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/baskets-femme/c/womens-shoes-boots-trainers">Baskets</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/ballerines-mocassins-et-escarpins/c/womens-shoes-boots-ballerinas">Ballerines</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/chaussures-de-plage-femme-sandales-et-claquettes/c/womens-shoes-boots-beach">Plage</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-femme/chaussures-et-bottes-femme/pantoufles-femme/c/womens-shoes-boots-slippers">Chaussons</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<a href="https://www.primark.com">Pièces essentielles</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/fr/denim-womens">Ton guide de jeans femme</a></li>
																	</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/c/mens">Homme</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar two_columns" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/nouveautes-homme/c/mens-newarrival">Nouveautés</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/c/mens-clothing">Afficher tous les vêtements</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/sweats-a-capuche-et-sweat-shirts-homme/c/mens-hoodies-sweatshirts">Sweats à capuche et sweat-shirts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/jeans-homme/c/mens-jeans">Jeans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/t-shirts-et-hauts-homme/c/mens-tops-t-shirts">Hauts et t-shirts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/vestes-et-manteaux-homme/c/mens-coats-jackets">Manteaux et vestes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/chemises-homme/c/mens-shirts">Chemises</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/pantalons-homme/c/mens-trousers">Pantalons</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/costumes-homme/c/mens-suits">Costumes</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/shorts-homme/c/mens-shorts">Shorts</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/survetements-homme/c/mens-joggers">Joggings</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/maillots-de-bain-homme/c/mens-swimwear">Maillots de bain</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/pyjamas-homme/c/mens-pyjamas">Pyjamas</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/tenues-de-sport-homme/c/mens-sports">Sport</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/mode-homme/sous-vetements-homme/c/mens-underwear">Sous-vêtements</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Chaussures et bottes</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/chaussures-et-bottes-homme/c/mens-shoes">Afficher toutes les chaussures et bottes</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Accessoires</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/accessoires-homme-ceintures-chapeaux-et-lunettes-de-soleil/c/mens-accessories">Afficher tous les accessoires</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/accessoires-homme-ceintures-chapeaux-et-lunettes-de-soleil/sacs-et-portefeuilles-homme/c/mens-bags-wallets">Sacs et portefeuilles</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/accessoires-homme-ceintures-chapeaux-et-lunettes-de-soleil/soins-masculins/c/mens-grooming">Soins</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/nos-collections-mode-homme/accessoires-homme-ceintures-chapeaux-et-lunettes-de-soleil/chapeaux-echarpes-gants-homme/c/mens-hats-gloves-scarves">Chapeaux, gants et écharpes</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<a href="https://www.primark.com">Pièces Essentielles</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/mode-enfant/c/kids">Enfant</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/nouveautes-mode-enfant/c/kids-newarrival">Nouveautés</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements enfant 2 à 7 ans garçon</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-2a-7ans/c/kids-kids-2-to-7-boyswear">Afficher tous les articles garçon 2-7 ans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-2a-7ans/t-shirts-et-chemises-garcon-2-a-7-ans/c/kids-kids-2-to-7-boyswear-boys-t-shirts-shirts">T-shirts et chemises garçon</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-2a-7ans/shorts-garcon-2a7ans/c/kids-kids-2-to-7-boyswear-boys-shorts">Shorts garçon</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-2a-7ans/pantalons-garcon-2-a-7-ans/c/kids-kids-2-to-7-boyswear-boys-trousers">Pantalons garçon</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements enfant plus de 7 ans garçon</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-pre-ado/c/kids-kids-over-7-boyswear">Afficher tous les articles garçon 7&#43; ans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-pre-ado/jeans-et-pantalons-garcon-preado/c/kids-kids-over-7-boyswear-older-boys-jeans-and-trousers">Jeans et shorts ado</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-pre-ado/manteaux-et-vestes-ado-garcon/c/kids-kids-over-7-boyswear-older-boys-shirts-jackets">Manteaux et vestes ado</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/mode-garcon-pre-ado/t-shirts-et-chemises-ado-garcon/c/kids-kids-over-7-boyswear-older-boys-tshirts-and-shirts">T-shirts et chemises ado</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements enfant 2 à 7 ans fille</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-2a-7ans/c/kids-kids-2-to-7-girlswear">Afficher tous les articles fille 2-7 ans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-2a-7ans/robes-fille-2a-7ans/c/kids-kids-2-to-7-girlswear-girls-dresses">Robes fille</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-2a-7ans/jeans-fille-2-a-7-ans/c/kids-kids-2-to-7-girlswear-girls-jeans-leggings">Jeans et leggings fille</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-2a-7ans/shorts-fille-2-a-7-ans/c/kids-kids-2-to-7-girlswear-girls-shorts">Shorts fille</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-2a-7ans/hauts-et-pulls-filles-de-2a-7ans/c/kids-kids-2-to-7-girlswear-girls-tops-jumpers">Hauts et pulls fille</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Vêtements enfant plus de 7 ans fille</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-preado/c/kids-kids-over-7-girlswear">Afficher tous les articles fille 7&#43; ans</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-preado/robes-fille-preado/c/kids-kids-over-7-girlswear-older-girls-dresses">Robes ado</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-preado/jeans-fille-pre-ado/c/kids-kids-over-7-girlswear-older-girls-jeans-leggings">Jeans et leggings ado</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-preado/shorts-ado-fille/c/kids-kids-over-7-girlswear-older-girls-shorts">Shorts ado</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/mode-fille-preado/hauts-et-sweats-a-capuche-ado-fille/c/kids-kids-over-7-girlswear-older-girls-tops-jumpers">Hauts et pull ado</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Chaussures et accessoires enfant</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/accessoires-enfant/c/kids-kids-accessories">Afficher toutes les chaussures et accessoires</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/pyjamas-enfant/c/kids-kids-pyjamas">Pyjamas garçon</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/pyjamas-enfant/c/kids-kids-pyjamas">Pyjamas fille</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-fille/chaussures-fille/c/kids-kids-girls-shoes">Chaussures bébé fille</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/mode-garcon/chaussures-garcon/c/kids-kids-boys-shoes">Chaussures bébé garçon</a></li>
																	</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/mode-enfant/vetements-bebe-et-nouveau-ne/c/kids-baby">Baby</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Bébé garçon</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/vetements-bebe-et-nouveau-ne/mode-bebe-garcon/c/kids-kids-baby-boy">Afficher tous les articles bébé garçon</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Bébé fille</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/vetements-bebe-et-nouveau-ne/vetements-bebe-fille/c/kids-kids-baby-girl">Afficher tous les articles bébé fille</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Accessoires bébé</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/vetements-bebe-et-nouveau-ne/accessoires-bebe/c/kids-kids-baby-accessories">Afficher tous les accessoires bébé</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Basiques bébé</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/mode-enfant/vetements-bebe-et-nouveau-ne/les-essentiels-pour-bebe/c/kids-kids-baby-basics">Afficher tous les basiques bébé</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/c/homeware">Déco</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/nouveautes-pour-la-maison/c/homeware-newarrival">Nouveautés</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Afficher par pièce</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/tous-les-articles-pour-la-maison/c/homeware-allrooms">Afficher toutes les pièces</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/tous-les-articles-pour-la-maison/accessoires-pour-salle-de-bain/c/homeware-bathroom">Salle de bain</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/tous-les-articles-pour-la-maison/deco-chambre-textiles-et-accessoires/c/homeware-bedroom">Chambre</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/tous-les-articles-pour-la-maison/cuisine-et-vaisselle/c/homeware-kitchen">Cuisine</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/tous-les-articles-pour-la-maison/ton-bureau-ideal/c/homeware-allrooms-study-desk">Ton bureau idéal</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Ameublement</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/c/homeware-furnishings">Afficher tout l&#39;ameublement</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/accessoires-de-decoration-pour-la-maison/c/homeware-accessories">Accessoires</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/coussins-et-housses/c/homeware-cushions">Coussins</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/jetes-et-couvertures/c/homeware-throws">Jetés de lit</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/eclairage-lampes-et-guirlandes-lumineuses/c/homeware-lights">féériques</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/bougies-et-bougies-parfumees/c/homeware-candles">Bougies</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/textiles-styles/solutions-de-rangement/c/homeware-storage">Rangements</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Articles de saison et cadeaux</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/decorations-pour-les-fetes/c/homeware-seasonal">Afficher articles de saison et cadeaux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/decorations-pour-les-fetes/cadeaux-jeux-mugs-gadgets-et-plus/c/homeware-gifts">Cadeaux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/decorations-pour-les-fetes/jeux-et-jouets-enfant/c/homeware-toys">Jeux et jouets</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/decorations-pour-les-fetes/bagages-et-articles-de-voyage/c/homeware-travel">Bagages et Voyage</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/decorations-pour-les-fetes/fournitures-de-bureau-carnets-calendriers-et-trousses/c/homeware-stationery">Fournitures de bureau</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Technologie et téléphonie</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/accessoires-pour-telephone-et-gadgets-hi-tech/c/homeware-tech-phone-accessories">Afficher tous les articles technologie</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/accessoires-pour-telephone-et-gadgets-hi-tech/casque-et-ecouteurs/c/homeware-tech-phone-accessories-headphones">Casques</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/articles-pour-la-maison/accessoires-pour-telephone-et-gadgets-hi-tech/coques-de-telephone/c/homeware-tech-phone-accessories-phone-case">Coques de téléphone</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">PIÈCES ESSENTIELLES</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/fr/home-hub">Le pôle déco</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/techhub">Pôle high-tech</a></li>
																	</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/c/beauty">Beauté</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/nouveaux-produits-de-maquillage-et-soins-de-beaute/c/beauty-newarrival">Nouveautés</a></li>
																	<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Maquillage</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/c/beauty-makeup">Afficher tout le maquillage</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/palette-dombres-a-paupieres-et-eye-liners/c/beauty-cosmetics-eye">Ombre à paupières et eyeliners</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/mascara-et-faux-cils/c/beauty-cosmetics-eyelashes">Mascara et faux cils</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/rouges-a-levres-gloss-et-crayons-contour-des-levres/c/beauty-cosmetics-lips">Rouge à lèvres et brilliants</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/faux-ongles-et-vernis-a-ongles/c/beauty-cosmetics-nails">Faux-ongles et vernis</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/fonds-de-teint-correcteurs-bases-de-teint-poudres/c/beauty-cosmetics-skin">Fonds de teint et poudres</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/maquillage-maquillage-yeux-et-visage/maquillage-enfant-kits-gloss-et-ongles/c/beauty-kids">Maquillage de enfant</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Accessoires</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/accessoires-de-beaute/c/beauty-accessories">Afficher tous les accessoires</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/accessoires-de-beaute/trousses-de-maquillage/c/beauty-accessories-make-up-bag">Trousses de maquillage</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/accessoires-de-beaute/outils-de-maquillage-pinceaux-recourbe-cils-et-plus-encore/c/beauty-tools">Accessoires de beauté</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/accessoires-de-beaute/outils-de-maquillage-pinceaux-recourbe-cils-et-plus-encore/pinceaux-et-eponges-de-maquillage/c/beauty-tools-brushes-blenders">Pinceaux et éponges</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/accessoires-de-beaute/outils-de-maquillage-pinceaux-recourbe-cils-et-plus-encore/seche-cheveux-lisseurs-et-fers-a-boucler/c/beauty-tools-straighteners-curlers-blow-dryer">Sèche-cheveux et fers à lisser</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Cosmétiques</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/c/beauty-cosmetics">Afficher tous les cosmétiques</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/parfums-femme-parfums-et-brumes-corporelles/c/beauty-fragrance">Parfums</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/soins-capillaires-brosses-et-masques-capillaires/c/beauty-haircare">Soins cheveux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/soins-pour-la-peau-cremes-hydratantes-masques-et-cremes-pour-les-mains/c/beauty-skincare">Soins visage</a></li>
																	<li class="mega-nav__sub-item ">
																			</li>
																	<li class="mega-nav__sub-item ">
																			<a href="/fr/tous-les-produits-primark/maquillage-et-produits-de-beaute/kits-de-maquillage-et-produits-de-beaute/produits-de-toilette-savons-exfoliants-et-essentiels-de-bain/c/beauty-toiletries">Produits de toilette</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/beauty-hub">Le pôle beauté</a></li>
																	</ul>
												</div>
											</div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item mega-nav__item--parent js-mega-nav-parent"
							role="menuitem" 
							aria-haspopup="true"
							aria-expanded="false">
							<a href="/fr/inspiration">Inspiration</a><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
								<div class="mega-nav__panel js-mega-nav__panel" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation">
									<div class="mega-nav__panel-wrap js-mega-nav-parent" role="presentation" aria-haspopup="true" >
										<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading mega-nav__column--category">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Inspirez-moi</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/inspiration/inspirez-moi/alerte-tendance/a/bf4be914-bdee-4385-ab58-b450fb1147c9">Alerte tendance</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/inspiration/inspirez-moi/labo-mode/a/cbeb1be1-3bf2-4a6d-809b-d5eff2200808">Labo mode</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/inspiration/inspirez-moi/les-points-cles/a/6d67eee6-42e1-4dcd-8412-1996e432b26d">Les points clés</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/inspiration/inspirez-moi/sous-les-projecteurs/a/6ad53442-904c-49d0-857a-d24fea294fef">Sous les projecteurs</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			</li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/inspiration/inspirez-moi/a/078e1428-e1d5-4a69-a602-845727f4dd58">Tout afficher</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading mega-nav__column--category">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">La sélection</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/femme/campagnes-femme/a/1117d889-c975-4ad4-8046-7d42b9a492ff">Femme</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/homme/campagnes-homme/a/f9f8d13e-7645-4373-beb1-d0d72a217ee7">Homme</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/enfant/campagnes-enfant/a/e8e30e1c-a54a-4121-8dff-f61704b435e9">Enfant</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/beaute/campagnes-beaute/a/45f3330d-c374-4fff-a7a3-ab6d76b401a7">Beauté</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/maison/campagnes-deco-maison/a/202b7ee3-41ac-4bb8-9a99-01c9a74a6a8b">Articles pour la maison</a></li>
																	<li class="mega-nav__sub-item  mega-nav__column--category">
																			<a href="https://www.primark.com/fr/la-selection/tous/la-selection/a/58888858-8b3a-4834-beb9-8b4b1c8972d3">Tout afficher</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column js-mega-nav__secondary-bar one_column" data-mega-nav-secondary='{"showPanelItemClass": "mega-nav__item--show-panel"}' role="presentation" aria-expanded="false">
													<ul class="mega-nav__sub-list js-mega-nav__sub-list">
														<li class="mega-nav__sub-item mega-nav__sub-item-heading">
																			<h3 class="mega-nav__sub-heading js-mega-nav__sub-heading">
																						<span class="empty-nav-item" tabindex="0">Collections</span><i class="mega-nav__show-panel-icon icon icon--next" aria-hidden="true"></i>
																					</h3>
                                                                                    </li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/fr/beauty-hub">Le pôle beauté</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/fr/a-better-future">Un avenir plus radieux</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/fr/techhub">Pôle high-tech</a></li>
																	<li class="mega-nav__sub-item ">
																			<a href="https://www.primark.com/wellness">24 heures de bien-être</a></li>
																	</ul>
												</div>
											<div class="mega-nav__column mega-nav__column--main-banner" role="presentation" data-navNode-id="CampaignsNavNode"></div>
										    </div>
								</div>
							</li>
				<li 
							class="mega-nav__item js-mega-nav__item js-mega-nav-nonparent"
							role="menuitem" 
							aria-haspopup="false"
							aria-expanded="">
							<a href="/fr/primania">Primania</a></li>
				<li 
							class="mega-nav__item js-mega-nav__item js-mega-nav-nonparent"
							role="menuitem" 
							aria-haspopup="false"
							aria-expanded="">
							<a href="/fr/primark-cares">Primark Cares</a></li>
				</ul>
		</nav>
