<h1>Editing Posts Surname Meaning</h1>

<%= render 'form', posts_surname_meaning: @posts_surname_meaning %>

<%= link_to 'Show', @posts_surname_meaning %> |
<%= link_to 'Back', posts_surname_meanings_path %>
