<p id="notice"><%= notice %></p>

<%=render "posts_surname_meaning", ps: @posts_surname_meaning, posts_surname: @@posts_surname_meaning.posts_surname%>
<%= link_to 'Edit', edit_posts_surname_meaning_path(@posts_surname_meaning) %> |
<%= link_to 'Back', posts_surname_meanings_path %>
