<div class="col">
<div class="card">
    <div class="card-header">
    My set of tasks <%=setoftask.title%>
  </div>

<div class="card-body">
    <ul>
    <%setoftask.tasks.each do |task|%>
    <li class="card-text"><%=task.name%></li>
    <%end%>
    </ul>
</div>
</div>
    </div>
