 <div class="containersubtitle">
  <%= place.name%><%= place.image && place.image.length > 0 ? (image_tag(asset_path(place.image), class: "bigppic", alt:" pic")) : ""%>
  <div id="mypersonsubtitle" class="subtitle"></div>
</div>

~                                                                               

